@import "./main";

.agree-all-wrapper {
  display: flex;
  justify-content: center;
}

.background-img {
  width: 100%;
  height: 100%;
  background-color: $tertiary;
  position: absolute;
  opacity: 0.8;
}

.agree-box {
  width: 290px;
  height: 420px;
  border-radius: 10px;
  background-color: $white;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.agree-btn {
  width: 106px;
  height: 36px;
  border: none;
  border-radius: 5px;
  font-size: medium;
  background-color: $blue;
  color: $white;
  font-weight: 700;
  position: relative;
  left: 91px;
  right: 91px;
  bottom: 1px;
}

.agree-content-box {
  width: 90%;
  height: 60%;
  border: 1px solid none;
  overflow-y: scroll;
  font-size: 14pt;
}

strong {
  font-size: 10pt;
}

span {
  border-bottom: 4px solid $yellow;
  padding-bottom: 3px;
}

.close {
  width: 24px;
  height: 24px;
  position: relative;
  left: 265px;
  bottom: 27px;

  color: $border;

  cursor: pointer;
}

.agree-content {
  font-size: 8pt;
}
