@import "./main";

.ad {
  background-image: url("../../assets/images/chat-ad.svg");
  height: 70px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

.profile {
  &-img {
    width: 40px;
    height: 40px;
  }
}

.list {
  padding: 5px 10px 10px;
  border-bottom: 1px solid $primary;
  margin: 8px;
}
.chat {
  &-box {
    @include flexbox(start);
    padding: 8px 15px;
    margin: 5px 0;
    cursor: pointer;

    &:hover {
      background-color: $background;
    }

    &-group {
      overflow-y: scroll;
      width: 300px;
      height: 650px;
      padding: 10px;
      background-color: white;
      border-radius: 15px;
      margin-left: 15px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-message {
    @include text-style(14);
    color: $primary;
    margin: 0 10px;
  }

  &-date {
    font-size: 10px;
    color: $secondary;
  }
}

@include responsive(T) {
  .full-chat {
    display: flex;
    box-shadow: $card-shadow;
    padding: 20px 0;
    border-radius: 15px;
    background-color: $background;
  }
}
