@import "./main";

.nav {
  border-bottom: 1px solid $border;

  &-search {
    margin-bottom: 5px;
  }
}

.chat {
  margin-top: 50px;
  &-wrapper {
    @include flexbox;
    height: 600px;
    border: 1px solid $border;
    border-radius: 20px;
  }

  &-room-list-area {
    @include column-flexbox(center, start);
    flex-basis: 25%;
    height: 100%;
    border-right: 1px solid $border;

    &-title {
      flex-basis: 10%;
      width: 100%;
      border-bottom: 1px solid $border;
      padding: 20px;
    }

    &-list {
      flex-basis: 90%;
      width: 100%;
      padding: 10px 20px;
      overflow: hidden;
      &-inner {
        width: 100%;
        height: 100%;
        overflow: auto;

        .chat-user {
          @include flexbox(start, center);
          cursor: pointer;
          width: 100%;
          height: 50px;

          transition: 0.3s;
          padding: 0 10px;
          border-radius: 5px;
          &:hover {
            background-color: #f1f1f1;
            color: $blue;
            font-weight: 700;
          }
          &-profile {
            margin-right: 10px;
          }

          &-nick {
            @include text-style-14;
          }
        }
      }
    }
  }

  &-message-area {
    @include column-flexbox;
    flex-basis: 75%;
    height: 100%;

    &-board {
      width: 100%;
      height: 100%;
      background-color: $background;
      position: relative;
      border-radius: 20px;

      & > img {
        @include pos-center;
      }

      &-change {
        @include column-flexbox;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $background;
        border-radius: 0 20px 20px 0;
        padding: 20px;
        //display: none;

        .message-box-area {
          flex-basis: 95%;
          width: 100%;

          .message-box {
            display: flex;
            justify-content: start;
            align-items: start;
            width: 100%;
            height: auto;
            padding: 10px;
            overflow: hidden;

            &-profile {
              margin-right: 10px;
            }
            .message {
              @include column-flexbox;
              @include text-style(12);
              padding: 5px 10px;
              background-color: $blue;
              color: white;
              font-weight: 500;
              height: auto;
              border-radius: 10px;
            }
          }
        }

        .message-input-box-area {
          @include flexbox(end, center);
          flex-basis: 5%;
          width: 100%;

          textarea {
            width: 350px;
            height: 30px;
            background-color: $white;
            border: 1px solid $border;
            border-radius: 30px;
            padding: 7px 16px;
            font-size: 12px;
            caret-color: $blue;
            resize: none;
            margin-right: 10px;
          }

          button {
            @include flexbox;
            width: 50px;
            height: 28px;
            border-radius: 30px;
            font-size: 12px;
            color: $secondary;
          }
        }
      }
    }
  }
}
