@import "./main.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: $card-shadow;
  border-radius: 10px;

  .profile-section {
    display: flex;
    margin: 20px 0 0 10px;
    img {
      width: 35px;
      height: 35px;
      border-radius: 50px;
    }

    h4 {
      margin: 8px 0 0 10px;
    }

    .coding-type {
      @include flexbox;
      font-size: 8px;
      color: $blue;
      width: 30px;
      height: 20px;
      border: 1px solid $blue;
      border-radius: 5px;
      margin: 8px 0 0 10px;
    }
  }

  .intro {
    h5 {
      margin: 10px;
    }
    &-input {
      @include flexbox;
      width: 300px;
      height: 120px;
      border: 1px solid $border;
      border-radius: 5px;
      margin: 10px;
    }

    textarea {
      @include text-style(14);
    }

    .github-input {
      @include text-style(14);
      display: flex;
      align-items: center;
      width: 300px;
      height: 40px;
      border: 1px solid $border;
      border-radius: 5px;
      margin: 10px;
      padding: 10px;
    }

    .skill {
      &-box {
        height: 80px;
        padding-left: 10px;
      }
    }
    .my-skill {
      display: inline-block;
      width: auto;
      height: auto;
      padding: 8px;
      margin: 4px;
      background-color: $yellow;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.3px;
      text-align: center;
    }

    // 스토리 보드 알아보고 결정되면 추후 수정예정
    .story-board {
      width: 200px;
      height: 140px;
      background-color: $border;
      margin: 15px 60px 0 60px;
      border-radius: 10px;
    }
  }

  .button-wrapper {
    @include flexbox;
    height: 100px;

    .awards-status {
      @include text-style(14);
      border: 1px solid $border;
      width: 70px;
      height: 32px;
      border-radius: 5px;
    }

    .btn-primary {
      width: 70px;
      margin-left: 20px;
    }
  }

  @include responsive(T) {
    padding: 40px;

    .profile-section {
      margin: 0px 0 0 10px;
    }

    .intro {
      @include flexbox;
      h5 {
        margin-top: 10px;
      }

      .simple-intro-title {
        margin-top: 30px;
      }
      .story-board-title {
        margin-top: -30px;
      }

      .story-board {
        width: 250px;
        height: 270px;
        background-color: $border;
        margin: 15px 0 0 20px;
        border-radius: 10px;
      }
    }
  }

  .button-wrapper {
    .awards-status {
      width: 100px;
      text-align: center;
    }

    .btn-primary {
      width: 100px;
    }
  }
}
