@import "./main.scss";

.banner {
  &-top {
    background-color: #ffbbb1; // 배너 배경 색

    &-wrapper {
      .banner-info {
        .banner-button {
          background-color: $yellow; // 버튼 기본 색

          &:hover {
            background-color: #fcd869; // 버튼 hover 색
          }
        }
      }

      @include responsive(D) {
        .banner-image {
          width: 20%;
          height: 20%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.custom {
  &-step-2 {
    @include column-flexbox;
    display: none;

    .btn-wrapper {
      @include flexbox;
      width: 100%;
    }
  }

  &-step-3 {
    display: none;
  }

  &-tab {
    @include flexbox;
    padding-bottom: 20px;
  }

  &-title {
    @include column-flexbox;
    padding-bottom: 10px;

    p {
      @include text-style(14);
      font-weight: bold;
    }
  }
  &-card {
    @include column-flexbox;
    width: 30%;
    height: 80px;
    box-shadow: $card-shadow;
    border-radius: 5px;
    margin: 15px;

    &-wrapper {
      @include flexbox;
      flex-wrap: wrap;
      padding-bottom: 40px;
    }

    &-img {
      width: 60%;
      height: 50%;
      padding-bottom: 5px;
    }

    img {
      width: 100%;
      height: 100%;
    }

    p {
      @include text-style(12);
    }
  }

  &-skill {
    @include flexbox;
    box-shadow: $card-shadow;
    width: auto;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    margin: 5px;

    &-container {
      @include flexbox;
      padding-bottom: $between-section;
    }

    &-wrapper {
      @include flexbox(start, center);
      flex-wrap: wrap;
      margin: 10px;
    }

    h5 {
      margin-left: 5px;
    }
  }

  &-reward {
    &-wrapper {
      @include column-flexbox;
      padding-bottom: $between-section;

      p {
        margin-bottom: 20px;
      }
    }
    &-slide {
      -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
      width: 60%;
      height: 8px;
      border-radius: 5px;
      background: $border;

      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
        appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $white;
        border: 4px solid $blue;
        cursor: pointer;
      }

      &-bubble {
        position: relative;
        span {
          position: absolute;
          width: 190px;
          height: 40px;
          background-color: blue;
          top: -50px;
          transform: translateX(-50px);
          line-height: 55px;
          z-index: 2;
        }

        span:after {
          position: absolute;
          content: "";
          width: 190px;
          height: 40px;
          background-color: red;
          left: 50%;
          transform: translateX(-50px);
          border: 3px solid #fff;
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-left-radius: 50%;

          z-index: -1;
        }
      }
    }
  }

  .btn-wrapper {
    @include flexbox;
    padding-bottom: $around-main-content;
  }
  .btn-primary {
    width: 30%;
  }
  #next2 {
    display: none;
  }
  #next3 {
    display: none;
  }

  @include responsive(T) {
    &-tab {
      padding-bottom: 40px;
    }

    &-title {
      padding-bottom: 15px;

      p {
        @include text-style(24);
      }
    }

    &-card {
      width: 20%;
      height: 160px;

      &-wrapper {
        flex-wrap: nowrap;
      }
    }

    .btn-primary {
      width: 20%;
    }

    &-skill {
      &-wrapper {
        width: 540px;
      }
    }
  }

  @include responsive(D) {
    &-tab {
      padding: 80px 0 40px;
    }

    &-card {
      width: 15%;
      height: 200px;
      margin: 40px;

      &-wrapper {
        flex-wrap: nowrap;
        padding-bottom: 50px;

        p {
          @include text-style(16);
        }
      }
    }

    &-skill {
      &-wrapper {
        width: 950px;
      }
    }

    .btn-primary {
      width: 15%;
    }
  }
}
