@import "./main.scss";

/***** 모바일 *****/
/* 네비게이션 바 */
.category {
  width: 100%;
  background-color: $background;
  margin-bottom: 20px;

  &-bar {
    @include flexbox(around);

    font-size: 10px;

    text-align: center;
    list-style-type: none;
    li {
      width: 100%;
      height: 100%;
      padding: 14px 0;
      border-bottom: 2px solid $background;

      &:hover {
        border-bottom: 2px solid $blue;
        transition: 0.3s;
      }
    }
  }
}

.introduce-title {
  @include text-style(16);

  margin-bottom: 15px;
  font-weight: 700;

  padding: 8px;
  border-bottom: 1px solid $border;
}

.progress {
  /* 목업대로 가려면 start로 */
  @include flexbox(between);
  width: 42px;

  &-box {
    @include flexbox(between);
    overflow: hidden;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 15px;
  }

  /* 상태표시 동그라미 */
  &-color {
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 50%;
  }

  /* 상태 표시 색 */
  /* 모집 중 */
  .recruiting {
    background-color: $blue;
  }
  /* 심사 중 */
  .under-review {
    background-color: #ffc200;
  }

  /* 완료 */
  .complete {
    background-color: #f86d7d;
  }
  &-text {
    font-size: 10px;
  }
}

.contest {
  &-title {
    @include text-style(12);
    font-weight: 600;

    width: 155px;

    P {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }

  /* 주최, 남은 기간 가로 정렬*/
  &-content {
    @include flexbox;
    @include text-style(12);
  }

  /* 공모전 이름, content 세로 정렬 */
  &-mid {
    @include column-flexbox(start, start);

  }

  &-company {
    width: 120px;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.deadline {
  width: 30px;
  font-size: 9px;
  margin-left: 10px;
}

.company {
  &-profile {
    width: 30px;
    height: 30px;
    margin-right: 12px;

    &-img {
      width: 100%;
      height: 100%;
    }

    &-left {
      @include flexbox(start);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.profile-left {
  @include flexbox;
}

/***** 태블릿 *****/
@include responsive(T) {
  /* 배너 */
  .banner-top {
    margin-bottom: 0;
  }

  /* 네비게이션 바 */
  .category-bar {
    @include text-style(16);
  }

  /* 소제목 스타일 */
  .introduce-title {
    @include text-style(16);
  }

  .contest {
    &-title {
      @include text-style(12);
      font-weight: 600;
      width: 100%;
    }

    &-company {
      width: 100%;
    }
  }

  .company {
    &-profile {
      margin-right: 15px;
    }
    &-img {
      width: 30px;
      height: 30px;
    }
  }
}
/***** 웹 *****/
@include responsive(D) {
  .empty-box {
    width: 100%;
    height: 700px;
  }

  .full {
    position: relative;
  }

  .web-box {
    @include flexbox;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1040px;
    height: 715px;
    border-radius: 10px;
    box-shadow: $card-shadow;
    background-color: $background;
  }

  /* 네비게이션 바 */
  .category {
    width: 100%;

    background-color: $background;

    &-bar {
      @include column-flexbox(start, start);
      @include text-style(20);

      padding: 14px 0;
    }

    li {
      padding: 5px 0 5px 10px;
      text-align: left;
      border: none;

      &:hover {
        background-color: $blue-light;
        color: white;

        border: none;
      }
      a {
        width: 100%;
      }
    }

    &-web {
      height: 603px;
    }
  }

  /* 메인과 위치 맞추기 위해 */
  aside {
    height: 613px;
  }

  .profile {
    @include column-flexbox;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;

    // border-bottom: 1px solid $secondary;

    &-wrapper {
      padding: 15px 30px;

      border: 1px solid $border;
      border-radius: 10px;
    }

    &-img {
      width: 125px;
      height: 125px;
      margin: 30px 0 10px;

      &-box {
        padding: 0 15px;
      }
    }

    &-info {
      @include flexbox;
      padding-bottom: 15px;
    }

    &-type {
      @include flexbox;
      width: 28px;
      height: 13px;
      padding: 3px;
      margin-right: 6px;
      border: 1px solid $blue;
      border-radius: 5px;
      font-size: 6px;
      color: $blue;
    }
    &-nick {
      @include text-style(14);
      color: $primary;
    }
    &-mypage {
      width: 125px;
      text-align: left;
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 10px;
      margin-left: 10px;
    }
  }

  /* 메인과 크기 맞추기 위해 */
  .contest-management {
    width: 845px;
    height: 695px;
    padding: 15px 30px;
    margin: 0 10px;
    border: 1px solid $border;
    border-radius: 10px;
  }

  .progress-box-group {
    overflow-y: scroll;
    height: 580px;
  }

  .progress-box-group::-webkit-scrollbar {
    display: none;
  }
}
