@import "./main.scss";

.banner {
  &-top {
    background-color: #ffefc5; // 배너 배경 색

    &-wrapper {
      .banner-info {
        .banner-button {
          background-color: $yellow; // 버튼 기본 색

          &:hover {
            background-color: #fcd869; // 버튼 hover 색
          }
        }
      }
    }
  }
  &-middle {
    background-color: $red;
    background-image: url("../../assets/images/two-peple-mobile.svg");
  }
}

.main {
  section {
    margin-bottom: $between-section-sm;
  }

  .title-wrapper {
    h1 {
      @include text-style(24);
      margin-bottom: 24px;
    }
  }

  .category-button-box-mobile {
    @include flexbox(between);
    width: 100%;
    height: 45px;
    background-color: $border;
    border: 2px solid $border;

    button {
      flex-basis: 25%;
      height: 45px;

      &:hover {
        border-bottom: 2px solid $blue;
        transition: 0.3s;
      }
    }
  }

  .type-button-wrapper {
    @include flexbox(end, center);
    height: 40px;
    margin-top: 10px;

    .select {
      @include flexbox(between);
      border: 1px solid $border;
      border-radius: 5px;
      width: 70px;
      height: 30px;
      padding: 10px;
      overflow: hidden;
      text-align: inherit;
      p {
        font-size: 14px;
      }
    }
  }

  @include responsive(T) {
    section {
      margin-bottom: $between-section-md;
    }
    .category-button-wrapper {
      margin-top: 10px;
      button {
        margin-right: 5px;
        height: 45px;
      }
    }

    .type-button-wrapper {
      margin-bottom: 5px;
    }
  }

  @include responsive(D) {
    section {
      margin-bottom: $between-section-lg;
    }
    .category-button-wrapper {
      button {
        height: 30px;
        margin-right: 10px;
        border: 1px solid $border;
        border-radius: 5px;

        &:hover {
          transition: 0.3s;
        }
      }
    }

    .type-button-wrapper {
      margin-top: 0;
    }
  }
}
