@import "./main.scss";

.banner {
  height: 200px;
  background-color: $background;
  @include flexbox;
  padding: 20px;

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-text-box {
    div {
      margin-bottom: 10px;
    }

    &-title {
      @include text-style(24);
    }
    &-reward {
      display: flex;
      div {
        margin-right: 15px;
      }
    }
  }
  &-button-box {
    @include flexbox(end, center);
  }

  @include responsive(T) {
    height: 150px;

    &-text-box {
      @include flexbox(between);
    }

    &-text-box {
      div {
        margin-bottom: 5px;
      }
    }
  }
}

.contest-attend-agree {
  &-title-wrapper {
    margin: 100px 0 50px 0;
    @include flexbox;
    flex-direction: column;
    p {
      &:nth-child(1) {
        font-size: 30px;
        line-height: 30px;
        font-weight: 500;
      }
      &:nth-child(2) {
        @include text-style(14);
      }
    }
  }

  &-check-wrapper {
    @include flexbox;
    flex-direction: column;
  }
  &-check-box {
    @include flexbox(start, center);
    width: 65%;
    height: 50px;
    border: 1px solid $border;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    cursor: pointer;

    label {
      width: 12px;
      height: 12px;
      background-color: $tertiary;
      cursor: pointer;
      border-radius: 20px;
      font-size: 8px;
      color: $tertiary;
      @include flexbox;
      margin-right: 10px;

      i {
        color: $white;
      }
    }
    div {
      @include text-style(14);
    }
  }

  &-all-check {
    @include flexbox;
    margin-bottom: 70px;
    label {
      @include flexbox;
      width: 12px;
      color: $tertiary;
      height: 12px;
      background-color: $tertiary;
      cursor: pointer;
      border-radius: 20px;
      font-size: 8px;
      margin-right: 10px;

      i {
        color: $white;
      }
    }
    div {
      @include text-style(14);
    }
  }
  &-button-wrapper {
    @include flexbox;
    margin-bottom: 100px;
    flex-direction: column;

    div {
      &:nth-child(1) {
        margin-bottom: 15px;
      }
    }
    p {
      @include text-style(12);
    }

    a {
      width: 100px;
    }
  }
  @include responsive(T) {
    &-check-box {
      width: 50%;
      margin-bottom: 40px;
    }
  }
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}
.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 17%);
}

.modal-content {
  @include pos-center;
  @include column-flexbox(center, start);
  position: absolute;
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 30px 30px 10px 30px;

  &-title {
    width: 100%;
    flex-basis: 10%;
  }

  &-info {
    @include scrollbar;
    width: 100%;
    flex-basis: 75%;
    font-size: 12px;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 10px;
    line-height: 20px;
    color: $secondary;

    p {
      font-size: 13px;
      font-weight: 700;
      color: $secondary;
    }
  }

  &-btn {
    @include flexbox;
    width: 100%;
    flex-basis: 15%;
    button {
      margin: 10px;
      width: 80px;
      height: 30px;
      font-size: 16px;
    }
  }
  @include responsive(T) {
    width: 400px;
  }
}
