@import "./main.scss";

.banner {
  background-color: #8ac8d5;
  width: 100%;
  height: 250px;
  margin-top: 10px;
  background-image: url("../../assets/images/explorer.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 400px;

  &-wrapper {
    @include flexbox;
    height: 250px;
    flex-direction: column;

    h1 {
      text-align: center;
      color: white;
      line-height: 45px;
    }
    button {
      width: 100px;
      margin-top: 10px;
    }
  }

  @include responsive(T) {
    .banner-wrapper {
      @include flexbox(start, center);
      flex-direction: row;

      h1 {
        font-size: 35px;
        text-align: start;
        margin-right: 40px;
      }

      button {
        margin-top: 0px;
      }
    }
  }
}

.main {
  .title-wrapper {
    h1 {
      @include text-style-24;
      margin-top: 30px;
    }
  }

  .gallery-button-relative {
    position: relative;

    .prev {
      width: 40px;
      height: 40px;
      background-color: $white;
      border-radius: 40px;
      box-shadow: $card-shadow;
      @include pos-center-y;
      left: -10px;
      cursor: pointer;
      @include flexbox;
      transition: 0.5s;

      &:hover {
        transform: translateX(-10px) translateY(-50%);
      }

      p {
        @include text-style-24;
        color: $primary;
      }
    }
    .next {
      width: 40px;
      height: 40px;
      background-color: $white;
      border-radius: 40px;
      box-shadow: $card-shadow;
      @include pos-center-y;
      right: -10px;
      cursor: pointer;
      @include flexbox;
      transition: 0.5s;

      &:hover {
        transform: translateX(10px) translateY(-50%);
      }

      p {
        @include text-style-24;
        color: $primary;
      }
    }
  }

  .gallery-wrapper {
    height: 350px;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
  }

  .gallery {
    width: 2270px;
    height: 350px;
    @include flexbox(start, center);
    position: absolute;

    &-card {
      height: 300px;
      width: 200px;
      border-radius: 10px;
      overflow: hidden;
      margin-left: 30px;
      cursor: pointer;
      box-shadow: $card-shadow;
      position: relative;

      &:first-child {
        margin-left: 0;
      }

      &-img {
        height: 240px;
        overflow: hidden;
        img {
          height: 240px;
        }
      }

      &-info {
        background-color: $white;
        height: 155px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        @include pos-center-x;
        transition: 600ms;
        bottom: -95px;

        div {
          &:nth-child(1) {
            font-weight: 600;
          }
          &:not(:nth-child(1)) {
            margin-top: 7px;
            p {
              display: inline-block;
              &:nth-child(1) {
                color: $secondary;
                font-weight: 500;
                margin-right: 10px;
              }
            }
          }
          &:last-child {
            text-align: center;
            margin-top: 20px;
          }
        }
      }
    }
  }

  .ad-banner-box {
    margin-top: 30px;
    height: 150px;
    background-color: $red;
    border-radius: 20px;
    overflow: hidden;
    @include flexbox;
    flex-direction: column;
    background-image: url("../../assets/images/two-peple-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 240px;

    p {
      @include text-style-24;
      font-weight: bold;
      color: $white;
    }
  }

  .mb-btn-box {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    @include flexbox(between);
    background-color: $border;
    border: 2px solid $border;

    button {
      flex-basis: 25%;
      height: 35px;
      &:hover {
        border-bottom: 2px solid $blue;
        transition: 0.3s;
      }
    }
  }

  .type-button-wrapper {
    @include flexbox(end, center);
    height: 40px;
    margin-top: 10px;
    .select {
      border: 1px solid $border;
      border-radius: 5px;
      width: 70px;
      height: 30px;
      padding: 10px;
      @include flexbox(between);

      p {
        font-size: 14px;
      }
    }
  }

  .contest {
    &-card {
      margin-bottom: 20px;
      height: 150px;
      box-shadow: $card-shadow;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      .bookmark {
        position: absolute;
        right: 7%;
        top: -5px;
        font-size: 25px;
        i {
          color: $tertiary;
        }
      }
      &:nth-child(1) {
        margin-top: 10px;
      }

      &-first-line {
        width: 100%;
        flex-basis: 30%;

        @include flexbox(start, center);
        div {
          &:nth-child(1) {
            @include text-style-18;
            font-weight: 500;
          }

          margin-right: 10px;
        }
      }
      &-second-line {
        width: 100%;
        flex-basis: 70%;

        .first-box-article {
          div {
            margin-right: 5px;
          }
        }
        .second-box-article {
          display: flex;
          align-items: center;
          div {
            margin-left: 10px;
          }
          p {
            @include text-style-12;
          }
        }

        &-first-box {
          margin-top: 10px;
          display: flex;
          div {
            margin-right: 30px;
            p {
              &:nth-child(1) {
                @include text-style-12;
                margin-bottom: 5px;
              }

              &:nth-child(2) {
                font-weight: 500;
              }
            }
          }
        }

        &-second-box {
          margin-top: 10px;
          @include flexbox(between);
        }
      }

      &-third-line {
        display: flex;
        align-items: center;
        border-top: 1px solid $border;
        div {
          margin: 10px 10px 10px 0;
        }
        p {
          @include text-style-12;
        }
      }
    }
  }

  @include responsive(T) {
    .ad-banner-box {
      padding: 50px;
      @include flexbox(center, start);

      p {
        font-size: 30px;
        line-height: 40px;
      }
    }
    .contest-card {
      height: 250px;

      &-first-line {
        flex-basis: 20%;
      }
      &-second-line {
        flex-basis: 70%;
        @include flexbox(center, start);
        flex-direction: column;
      }
      &-third-line {
        flex-basis: 10%;
        @include flexbox(start, center);
      }
    }

    .category-button-wrapper {
      margin-top: 10px;
      button {
        margin-right: 5px;
        height: 25px;
      }
    }

    .type-button-wrapper {
      margin-bottom: 5px;
    }
  }
}
