@import "./main";

.briefing-container {
  .background-banner {
    position: relative;
    div {
      width: 100%;
      height: 250px;
      position: absolute;
      background-color: $blue-light;
    }
  }
  .contest-briefing {
    position: relative;

    &-content-box {
      @include flexbox(center, start);
      flex-direction: column;
      background-color: $white;
      margin-top: 100px;
      padding: 30px;
      border-radius: 20px;
      box-shadow: $card-shadow;

      &-thumbnail {
        @include flexbox;
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 24px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      &-title {
        @include text-style(24);
        font-weight: 700;
        margin-bottom: 30px;
        height: 40px;
      }
      &-profile {
        @include flexbox;
        @include text-style-18;
        font-weight: 500;
        margin-bottom: 16px;
        div {
          margin-right: 10px;
        }
      }
      &-tag {
        margin-bottom: 24px;
        div {
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
      &-info {
        @include flexbox;
        width: 100%;
        flex-basis: 25%;
        border-top: 1px solid $border;

        #contest-status {
          color: $blue;
        }

        div {
          @include flexbox;
          flex-direction: column;
          width: 100%;
          height: 100px;
          margin-bottom: 24px;
          p {
            &:first-child {
              color: $secondary;
              font-weight: 500;
              margin-bottom: 10px;
            }
            &:last-child {
              font-weight: 500;
            }
          }
        }
      }
      &-award {
        @include flexbox;
        width: 100%;
        height: 100px;
        border-radius: 10px;
        background-color: $border;
        margin-bottom: 24px;

        div {
          @include flexbox;
          flex-direction: column;
          flex-basis: 50%;
          height: 70%;

          &:last-child {
            border-left: 1px solid $tertiary;
          }
          p {
            &:first-child {
              color: $secondary;
              font-weight: 500;
              margin-bottom: 10px;
            }

            &:last-child {
              font-weight: 500;
            }
          }
        }
      }
      &-button {
        @include flexbox;
        width: 100%;
        height: 100px;

        #c-type-button {
          background-color: grey;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          font-weight: 500;
          font-size: 12px;
          cursor: default;
        }

        a {
          height: 50px;
          margin-right: 3%;
        }
        button {
          height: 50px;
          margin-right: 3%;

          &:last-child {
            margin-right: 0;
          }
        }

        &-join {
          flex-basis: 64%;
        }
        &-bookmark {
          flex-basis: 15%;
          color: $secondary;
          border-color: $border;

          &:hover {
            color: $blue;
            background-color: $white;
          }
        }

        &-link {
          flex-basis: 15%;
          border-color: $border;
          color: $secondary;

          &:hover {
            color: $blue;
            background-color: $white;
          }
        }
      }
      &-briefing-title {
        width: 100%;
        height: 50px;
        margin-top: 50px;
        border-bottom: 1px solid $border;
      }

      &-briefing-sub-title {
        margin-top: 50px;
        color: $blue;
        border-left: 2px solid $blue;

        h3 {
          margin-left: 10px;
        }
      }

      &-detail {
        margin-top: 50px;
        @include text-style(14);
      }
    }
  }

  @include responsive(D) {
    .contest-briefing {
      .container {
        display: flex;
      }

      &-content-box {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;

        &-thumbnail {
          height: 500px;
        }
      }

      &-sticky-box {
        @include flexbox;
        flex-direction: column;
        height: 500px;
        background-color: $white;
        box-shadow: $card-shadow;
        border-radius: 10px;
        position: sticky;
        top: 50px;
        margin-top: 130px;
        padding: 30px;

        &-title {
          @include flexbox(start, center);
          @include text-style(18);
          width: 100%;
          flex-basis: 10%;
          font-weight: 700;
        }

        &-profile {
          @include flexbox(start, center);
          width: 100%;
          flex-basis: 10%;
          div {
            margin-right: 10px;
          }
        }

        &-tag {
          @include flexbox(start, center);
          width: 100%;
          flex-basis: 10%;
          div {
            margin-right: 10px;
          }
        }
        &-award {
          @include flexbox;
          width: 100%;
          flex-basis: 25%;
          div {
            @include flexbox;
            flex-direction: column;
            flex-basis: 50%;

            p {
              &:first-child {
                color: $secondary;
                font-weight: 500;
                margin-bottom: 10px;
              }

              &:last-child {
                font-weight: 500;
              }
            }
          }
        }

        &-info {
          @include flexbox;
          width: 100%;
          flex-basis: 25%;
          border-top: 1px solid $border;

          #contest-status {
            color: $blue;
          }
          div {
            @include flexbox;
            flex-direction: column;
            flex-basis: 33.33%;

            p {
              &:first-child {
                color: $secondary;
                font-weight: 500;
                margin-bottom: 10px;
              }
              &:last-child {
                font-weight: 500;
              }
            }
          }
        }

        &-button {
          @include flexbox;
          width: 100%;
          flex-basis: 20%;

          #c-type-button {
            background-color: grey;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-weight: 500;
            font-size: 12px;
            cursor: default;
          }
          a {
            height: 50px;
            margin-right: 3%;
          }
          button {
            height: 50px;
            margin-right: 3%;

            &:last-child {
              margin-right: 0;
            }
          }

          &-join {
            flex-basis: 64%;
          }
          &-bookmark {
            flex-basis: 15%;
            color: $secondary;
            border-color: $border;

            &:hover {
              color: $blue;
              background-color: $white;
            }
          }
          &-link {
            flex-basis: 15%;
            color: $secondary;
            border-color: $border;

            &:hover {
              color: $blue;
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
