@import "./main";

$input-box-margin: 24px;

.ic-check-small {
  color: green;
}

.ic-cross-small {
  color: red;
}

.create-container {
  .background-banner {
    position: relative;
    div {
      width: 100%;
      height: 250px;
      position: absolute;
      background-color: $blue-light;
    }
  }

  .contest-create {
    position: relative;
    &-wrapper {
      @include flexbox;
      width: 100%;
      height: 2100px;
      margin-top: 100px;
      border-radius: 10px;
      box-shadow: $card-shadow;
      background-color: $white;
    }

    &-form {
      width: 100%;
      height: 2100px;
      padding: 20px;

      &-title {
        @include flexbox(start, center);
        @include text-style(18);
        width: 100%;
        height: 50px;

        &-tooltip {
          &-link {
            width: 30px;
            height: 30px;
            margin-left: 10px;
            position: relative;
            top: 2px;
            i {
              cursor: pointer;
              color: $blue;
            }
          }
          &-board {
            width: 460px;
            display: none;
            background-color: $white;
            border: 1.5px solid $blue;
            border-radius: 10px;
            box-shadow: $card-shadow;
            position: absolute;
            top: -96px;
            left: 40px;
            padding: 20px;

            div {
              &:nth-child(1) {
                @include text-style(16);
                margin-bottom: 10px;
              }
              &:nth-child(2) {
                @include text-style(12);
              }
            }

            &::after,
            &::before {
              content: "";
              @include pos-center;
              left: -8px;
              position: absolute;
              width: 0px;
              height: 0px;
              display: block;
              border: 10px solid transparent;
              border-right-color: $white;
            }

            &::before {
              border: 10px solid transparent;
              border-right-color: $blue;
              left: -10px;
            }
          }
        }
      }

      &-inner {
        width: 100%;
        padding: 10px;

        & > div {
          margin-bottom: $input-box-margin;
        }

        &-section-title {
          @include text-style(14);

          & > span {
            &:nth-child(2) {
              margin-left: 5px;
              color: red;
            }
          }
        }
      }

      &-company-name {
        @include flexbox(between);
        height: 50px;

        & > div {
          &:nth-child(1) {
            flex-basis: 30%;
          }
          &:nth-child(2) {
            flex-basis: 70%;
          }
        }

        input {
          @include text-style(12);
          width: 100%;
          height: 35px;
          border: 1px solid $border;
          border-radius: 5px;
          text-indent: 16px;
        }
      }

      &-type {
        @include flexbox(between);
        height: 50px;

        & > div {
          &:nth-child(1) {
            flex-basis: 30%;
          }
          &:nth-child(2) {
            flex-basis: 70%;
          }
        }

        input {
          @include text-style(12);
          width: 100%;
          height: 35px;
          border: 1px solid $border;
          border-radius: 5px;
          text-indent: 16px;
        }
      }

      &-subject {
        & > div {
          &:nth-child(1) {
            margin-bottom: 10px;
          }
        }

        textarea {
          @include text-style(12);
          width: 100%;
          height: 70px;
          border: 1px solid $border;
          border-radius: 5px;
          resize: none;
          padding: 10px;
        }
      }

      &-qualification {
        & > div {
          &:nth-child(1) {
            margin-bottom: 10px;
          }
        }

        textarea {
          @include text-style(12);
          width: 100%;
          height: 100px;
          border: 1px solid $border;
          border-radius: 5px;
          resize: none;
          padding: 10px;
        }
      }

      &-note {
        & > div {
          &:nth-child(1) {
            margin-bottom: 10px;
          }
        }

        textarea {
          @include text-style(12);
          width: 100%;
          height: 100px;
          border: 1px solid $border;
          border-radius: 5px;
          resize: none;
          padding: 10px;
        }
      }

      &-date {
        @include flexbox;
        height: 50px;

        & > div {
          &:nth-child(1) {
            flex-basis: 50%;
          }
          &:nth-child(2) {
            flex-basis: 50%;
          }
        }

        input {
          @include text-style(12);
          width: 100%;
          height: 35px;
          border: 1px solid $border;
          border-radius: 5px;
          padding: 10px;
        }
      }

      &-skill {
        @include flexbox(center, start);
        flex-direction: column;
        height: 200px;

        & > div {
          &:nth-child(2) {
            display: flex;
            flex-wrap: wrap;
            margin-top: 16px;
            height: 150px;
            overflow: auto;

            label {
              margin: 0px 10px 10px 0;
              cursor: pointer;
              transition: 0.2s;
              &:hover {
                color: $white;
                background-color: $yellow;
              }
            }
            input {
              display: none;
            }
          }
        }
      }

      &-thumbnail {
        @include flexbox(start, start);
        flex-direction: column;
        height: 150px;

        & > div {
          &:nth-child(2) {
            @include column-flexbox;
            margin-top: 16px;
            border: 1px dotted $border;
            border-radius: 10px;
            width: 100%;
            height: 120px;

            div {
              &:nth-child(1) {
                @include text-style(12);
                @include flexbox;
                margin-bottom: 12px;
                width: 100%;
                padding: 0 10px 0 10px;
              }
              &:nth-child(2) {
                @include flexbox;
                width: 100%;
              }
            }
            label {
              width: 80%;
              height: 30px;
            }
            input {
              display: none;
            }
          }
        }
      }

      &-reward {
        margin-bottom: 24px;
        & > div {
          &:nth-child(1) {
            margin-bottom: 10px;
          }
        }
        &-price-box {
          @include column-flexbox;
          width: 100%;
          height: 300px;

          & > div {
            width: 100%;
          }

          .price {
            &-bar {
              @include flexbox;
              padding: 0 20px 0 20px;
              flex-basis: 15%;
              input {
                width: 100%;
                height: 7px;
                cursor: grab;
              }
            }
            &-box {
              @include flexbox;
              flex-basis: 50%;
              padding: 10px;
              margin-bottom: 20px;
              &-inner-box {
                @include column-flexbox;
                background-color: $background;
                border: 1px solid $border;
                border-radius: 10px;
                height: 100%;
                width: 100%;

                input[type="number"] {
                  background-color: $white;
                  width: 100%;
                  height: 40px;
                  border: 1px solid $border;
                  border-radius: 5px;
                  text-align: end;
                  padding: 0 25px 0 0;
                }

                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                span {
                  color: $tertiary;
                  font-weight: 700;
                  font-size: 10px;
                }

                & > div {
                  @include flexbox;
                  width: 80%;

                  &:last-child {
                    margin-top: 10px;
                  }
                }

                .peple-count {
                  @include flexbox;
                  margin-right: 10px;
                  position: relative;

                  & > div {
                    font-size: 12px;
                    position: absolute;
                    right: 0;
                    & > div {
                      @include flexbox;
                      width: 20px;
                      height: 20px;
                      border: 1px solid $border;
                      background-color: $white;
                      cursor: pointer;
                      transition: 0.3s;

                      &:hover {
                        background-color: $tertiary;
                        color: $white;
                      }

                      &:nth-child(1) {
                        border-bottom: 0px;
                        border-radius: 0 5px 0 0;

                        i {
                          rotate: 90deg;
                        }
                      }

                      &:nth-child(2) {
                        border-radius: 0 0 5px 0;
                        i {
                          rotate: -90deg;
                        }
                      }
                    }
                    & > i {
                      display: inline-block;
                      color: $secondary;
                    }
                  }
                }

                .reward-price {
                  @include flexbox;

                  margin-right: 10px;
                }
              }
            }
            &-total {
              @include flexbox;
              flex-basis: 35%;
              border-top: 1px solid $border;
              border-bottom: 1px solid $border;

              div {
                @include flexbox;
                span {
                  margin-right: 10px;
                }
              }

              #result-price {
                margin-left: 20px;
                font-size: 20px;
                color: $blue;
                font-weight: 500;
              }
            }
          }
        }
      }

      &-promotion-products {
        & > div {
          &:nth-child(1) {
            @include text-style(14);
            margin-bottom: 20px;
            & > span {
              &:nth-child(2) {
                margin-left: 5px;
                color: red;
              }
            }
          }
          &:nth-child(2) {
            @include column-flexbox;
            height: 430px;

            & > div {
              @include flexbox(center, start);
              flex-basis: 25%;
              width: 100%;
              border: 1px solid $border;
              border-radius: 20px;
              background-color: $white;
              position: relative;

              & > div {
                &:nth-child(1) {
                  @include text-style(12);
                  width: 100%;
                  padding: 20px 10px 20px 10px;
                  border-bottom: 1px solid $border;
                }

                &:nth-child(2) {
                  width: 100%;
                  padding: 10px;
                  font-size: 10px;
                  div {
                    @include flexbox(start, center);
                    width: 100%;
                    height: 20px;
                  }
                }

                &:nth-child(3) {
                  position: absolute;
                  top: -20px;
                  right: 10px;
                }
              }
            }
            .general {
              margin-bottom: 30px;
              & > div {
                &:nth-child(1) {
                  flex-basis: 45%;
                  background-color: $yellow-light;
                  height: 100%;
                  border-radius: 20px 0px 0px 20px;
                }
              }
            }
            .advanced {
              margin-bottom: 30px;
              & > div {
                &:nth-child(1) {
                  flex-basis: 45%;
                  background-color: $blue-light;
                  height: 100%;
                  border-radius: 20px 0px 0px 20px;
                }
              }
            }
            .premium {
              margin-bottom: 30px;
              & > div {
                &:nth-child(1) {
                  flex-basis: 45%;
                  background-color: $red;
                  height: 100%;
                  border-radius: 20px 0px 0px 20px;
                }
              }
            }
          }
        }
      }
      &-btn {
        @include flexbox;
        button {
          width: 100px;
          height: 30px;
        }
      }
    }

    // 웹 화면에만 나올 sticky박스
    &-summary {
      @include flexbox(center, start);
      flex-basis: 30%;
      height: 1900px;
      border-left: 1px solid $border;
      padding: 30px;

      &-sticky-box {
        height: 560px;
        width: 100%;
        background-color: $white;
        position: sticky;
        top: 24px;
        padding: 20px;

        & > div {
          margin-bottom: 24px;

          &:last-child {
            margin-bottom: 0px;
          }
        }

        &-title {
          height: 30px;
          border-bottom: 1px solid $border;
        }

        &-thumbnail {
          width: 250px;
          height: 200px;
          overflow: hidden;
          border-radius: 10px;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        &-date {
          span {
            &:nth-child(2) {
              color: $secondary;
              margin-left: 10px;
            }
          }
        }

        &-price {
          @include column-flexbox;
          height: 200px;
          border: 1px solid $border;
          border-radius: 10px;
          padding: 20px;

          &-detail {
            @include column-flexbox;
            width: 100%;
            flex-basis: 40%;

            & > div {
              @include flexbox(between);
              width: 100%;
              flex-basis: 50%;

              span {
                color: $secondary;
                &:last-child {
                  font-weight: 700;
                }
              }
            }
          }
          &-total {
            @include flexbox(between);
            width: 100%;
            flex-basis: 30%;
            border-top: 1px solid $border;

            span {
              &:last-child {
                margin-left: 10px;
                font-weight: 700;
              }
            }
          }
          &-btn {
            @include flexbox;
            width: 100%;
            flex-basis: 30%;

            button {
              width: 100%;
            }
          }
        }
      }
    }

    @include responsive(T) {
      &-wrapper {
        @include flexbox;

        height: 2000px;
      }
      &-form {
        height: 2000px;
        &-inner {
          & > div {
            margin-bottom: $input-box-margin;
          }
        }

        &-skill {
          flex-direction: row;
          height: 150px;
          & > div {
            flex-basis: 50%;
          }
        }

        &-thumbnail {
          flex-direction: row;
          height: 150px;
          & > div {
            flex-basis: 50%;
          }
        }
        &-reward {
          .price-box {
            &-inner-box {
              display: flex;
              flex-direction: row;
              padding: 20px;
              & > div {
                width: 20%;

                &:not(:nth-child(1)) {
                  width: 40%;
                }

                span {
                  @include text-style(18);
                }
                &:last-child {
                  margin-top: 0;
                }
              }
            }
          }
        }
        &-promotion-products {
          & > div {
            &:nth-child(2) {
              @include flexbox(between);
              flex-direction: row;
              height: 250px;
              margin-bottom: 40px;
              & > div {
                flex-direction: column;
              }
              .general {
                height: 250px;
                margin-bottom: 0px;
                & > div {
                  &:nth-child(1) {
                    @include text-style(18);
                    border-radius: 20px 20px 0 0;
                    flex-basis: 50%;
                    padding: 20px 0 0 20px;
                  }
                  &:nth-child(2) {
                    flex-basis: 50%;
                    @include text-style(14);
                  }
                }
              }
              .advanced {
                height: 250px;
                margin-bottom: 0px;
                & > div {
                  &:nth-child(1) {
                    @include text-style(18);
                    border-radius: 20px 20px 0 0;
                    flex-basis: 50%;
                    padding: 20px 0 0 20px;
                  }
                  &:nth-child(2) {
                    flex-basis: 50%;
                    @include text-style(14);
                  }
                }
              }
              .premium {
                height: 250px;
                margin-bottom: 0px;
                & > div {
                  &:nth-child(1) {
                    @include text-style(18);
                    border-radius: 20px 20px 0 0;
                    flex-basis: 50%;
                    padding: 20px 0 0 20px;
                  }
                  &:nth-child(2) {
                    flex-basis: 50%;
                    @include text-style(14);
                  }
                }
              }
            }
          }
        }
      }
    }
    @include responsive(D) {
      &-wrapper {
        height: 1900px;
      }
      &-form {
        flex-basis: 70%;
        height: 1900px;
      }
    }
  }
}
