@import "./main";

.banner {
  &-top {
    background-color: #ffefc5;
  }
}

.contest-briefing {
  position: relative;
  margin-bottom: 100px;
  &-summary {
    &-wrapper {
      @include pos-center-x;
      @include flexbox;
      flex-direction: column;
      top: -150px;
      height: 600px;
      width: calc(100% - 30px);
      background-color: $white;
      border-radius: 20px;
      box-shadow: $card-shadow;
      position: absolute;
      padding: 30px 30px 10px 30px;
    }

    &-thumbnail {
      @include flexbox;
      flex-basis: 60%;
      height: 300px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 5px;
      border-radius: 10px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &-info {
      @include flexbox(center, start);
      flex-direction: column;
      flex-basis: 40%;
      & > div {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      &-title {
        width: 100%;
        flex-basis: 20%;
        font-size: 22px;
        @include flexbox(start, center);
        font-weight: 500;
      }
      &-name {
        width: 100%;
        flex-basis: 20%;
        @include flexbox(start, center);
        & > div {
          margin-right: 10px;
        }
      }
      &-tag {
        width: 100%;
        flex-basis: 20%;
        & > div {
          &:not(:nth-child(1)) {
            margin-left: 10px;
          }
        }
      }
      &-detail {
        width: 100%;
        flex-basis: 40%;
        @include flexbox;
        border-top: 1px solid $border;

        &-item {
          @include flexbox;
          flex-direction: column;
          flex-basis: 33%;

          &-title {
            @include text-style(16, $secondary);
            font-weight: 500;
          }

          &-info {
            @include text-style(18);
            font-weight: 500;
            margin-top: 5px;
          }
        }
      }
    }
  }

  &-reward {
    &-wrapper {
      margin-top: 500px;
    }
    &-info-box {
      @include flexbox;
      height: 100px;
      background-color: $background;
      border: 1px solid $border;
      border-radius: 10px;

      & > div {
        @include flexbox;
        flex-basis: 50%;
        height: 80%;
        flex-direction: column;

        &:nth-child(1) {
          border-right: 1px solid $border;
        }
      }

      &-title {
        @include text-style(16);
        font-weight: 700;
        color: $secondary;
      }

      &-detail {
        @include text-style(18);
        font-weight: 700;
      }
    }
  }

  &-button-wrapper {
    @include flexbox;
    margin-top: 30px;

    & > div {
      &:nth-child(1) {
        flex-basis: 70%;
        button {
          width: 100%;
          height: 50px;
        }
      }
      &:not(:nth-child(1)) {
        flex-basis: 12%;
        margin-left: 3%;
        button {
          @include flexbox;
          width: 100%;
          height: 50px;
          border: 1px solid $border;
          border-radius: 5px;

          i {
            color: $secondary;
          }
        }
      }
    }
  }

  &-title-wrapper {
    height: 50px;
    margin-top: 30px;
    border-bottom: 1px solid $border;
  }

  &-subject-wrapper {
    margin-top: 30px;

    &-title {
      height: 20px;
      padding-left: 10px;
      margin-bottom: 30px;
      font-size: 20px;
      color: $blue;
      font-weight: 700;
      border-left: 2px solid $blue;
    }

    &-detail {
      @include text-style(14);
      margin-bottom: 20px;
    }
  }

  @include responsive(T) {
    &-summary {
      &-wrapper {
        @include flexbox(between);
        flex-direction: row;
        height: 430px;
        padding: 30px;
      }

      &-thumbnail {
        flex-basis: 48%;
        height: 100%;
        width: 100%;
        margin-bottom: 0px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      &-info {
        flex-basis: 48%;
        height: 100%;
        & > div {
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
        &-title {
          width: 100%;
          flex-basis: 20%;
          font-size: 22px;
          @include flexbox(start, center);
          font-weight: 500;
        }
        &-name {
          width: 100%;
          flex-basis: 20%;
          @include flexbox(start, center);
          & > div {
            margin-right: 10px;
          }
        }
        &-tag {
          width: 100%;
          flex-basis: 20%;
          & > div {
            &:not(:nth-child(1)) {
              margin-left: 10px;
            }
          }
        }
        &-detail {
          width: 100%;
          flex-basis: 50%;
          @include flexbox;
          border-top: 1px solid $border;

          &-item {
            @include flexbox;
            flex-direction: column;
            flex-basis: 33%;

            &-title {
              @include text-style(16, $secondary);
              font-weight: 500;
            }

            &-info {
              @include text-style(18);
              font-weight: 500;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
