@import "./main.scss";

.checked {
  background-color: $yellow;
  color: $white;
}
.banner {
  height: 250px;
  background-color: $background;
  @include flexbox;
  padding: 20px;
  margin-bottom: $around-main-content;

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-text-box {
    div {
      margin-bottom: 10px;
    }

    &-title {
      @include text-style(24);
    }
    &-reward {
      display: flex;
      div {
        margin-right: 15px;
      }
    }
  }
  &-button-box {
    @include flexbox(end, center);
  }

  @include responsive(T) {
    height: 150px;

    &-text-box {
      @include flexbox(between);
    }

    &-text-box {
      div {
        margin-bottom: 5px;
      }
    }
  }
}

.contest-attend-form {
  form {
    @include flexbox;
  }

  &-inner-box {
    @include column-flexbox;
    width: 100%;
    height: 700px;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 20px;

    &-title {
      flex-basis: 5%;
      width: 100%;
      font-size: 14px;
    }

    &-main {
      @include column-flexbox;
      flex-basis: 85%;
      width: 100%;

      .sub-title {
        @include text-style(14);
        margin-bottom: 10px;
        font-weight: 700;
      }

      &-info {
        @include column-flexbox(center, start);
        flex-basis: 50%;
        height: 100%;

        & > div {
          margin-bottom: 16px;
        }

        &-summary {
          width: 100%;
          textarea {
            @include text-style(12);
            border: 1px solid $border;
            border-radius: 5px;
            width: 100%;
            height: 150px;
            resize: none;
            padding: 10px;
          }
        }
        &-github-address {
          width: 100%;
          input {
            @include text-style(12);
            border: 1px solid $border;
            width: 100%;
            height: 40px;
            border-radius: 5px;
            text-indent: 12px;
          }
        }
        &-skill {
          width: 100%;
          height: 130px;

          .tag-box {
            display: flex;
            flex-wrap: wrap;
            overflow: scroll;
            width: 100%;
            height: 100px;

            label {
              margin: 0 10px 10px 0;
              transition: 0.3s;
              cursor: pointer;
              &:hover {
                background-color: $yellow;
                color: $white;
              }

              input {
                display: none;
              }
            }
          }
        }

        &-file {
          width: 100%;

          label {
            @include text-style(12);
            width: 100%;
            height: 40px;
          }
        }
      }
    }

    &-btn {
      @include flexbox;
      flex-basis: 10%;
      width: 100%;
      button {
        width: 100px;
      }
    }

    @include responsive(T) {
      width: 60%;
      height: 700px;
      padding: 40px;

      &-title {
        flex-basis: 10%;
      }

      &-main {
        @include flexbox;
        flex-direction: row;
        flex-basis: 80%;

        &-info {
          flex-basis: 100%;
          & > div {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }

          &-skill {
            height: 80px;

            .tag-box {
              height: 60px;
            }
          }
        }
      }
    }
  }
}
