@import "./main.scss";

/***** 모바일 *****/
.banner-top {
  margin: 0;
}

/* 네비게이션 바 */
.category {
  width: 100%;
  background-color: $background;
  margin-bottom: 30px;

  &-bar {
    @include flexbox(around);
    font-size: 10px;
    padding: 14px 0;
    text-align: center;
  }
}
/* 소제목 스타일 */
.introduce-title {
  @include text-style(14);
  margin-bottom: 15px;
  font-weight: 700;
  padding: 0 5px 5px;
  border-bottom: 1px solid $border;
}

.form-box {
  @include text-style(14);
  padding: 10px;

  div {
    @include flexbox(start);
    margin-bottom: 10px;
  }
  p {
    width: 75px;
    font-weight: 700;
    text-align: left;
  }

  input {
    text-align: center;
    padding-bottom: 2px;
  }
}

.bank {
  font-size: 12px;
}

.name input {
  width: 70%;
  border-bottom: 1px solid $border;
}

.ssn input {
  width: 70%;
  border-bottom: 1px solid $border;
}
.credit-box {
  @include column-flexbox;
  border: 1px solid $border;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;

  input {
    @include text-style(12);
    width: 70%;
    height: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid $border;
  }

  .money-btn {
    @include flexbox(between);
    // justify-content: space-evenly;
    width: 212px;
    font-size: 10px;
    margin: 0;

    button {
      border: 1px solid $border;
      border-radius: 5px;
      padding: 5px;
    }
  }
}
.submit-btn {
  @include flexbox;
}

.account-number input {
  @include text-style(12);
  width: 70%;
  border-bottom: 1px solid $border;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
