@import "./main.scss";

/***** 모바일 *****/
/* 네비게이션 바 */
.category {
  width: 100%;
  background-color: $background;
  margin-bottom: 20px;
  &-bar {
    @include flexbox(around);
    font-size: 10px;
    padding: 14px 0;
    text-align: center;
    list-style-type: none;
  }
}

/******* 모바일은 여기까지 복사해가면 됩니답 *******/

.introduce-title {
  @include text-style(14);

  font-weight: 700;
  padding: 10px;
}

.profile {
  &-user {
    @include column-flexbox;
    position: relative;
    width: 100px;

    margin: 15px;
  }
  &-img {
    width: 115px;
    height: 115px;
    margin: 8px;
  }

  &-edit {
    @include flexbox;
  }
}
.edit-img {
  @include flexbox;
  position: absolute;
  top: 0;
  right: -5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $background;
  cursor: pointer;
}

.ic-camera {
  font-size: 13px;
  color: $secondary;
}

.one-liner {
  @include text-style(12);
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid $border;
  border-radius: 10px;
}

#nickName {
  @include text-style(12);
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 10px;
  border: 1px solid $border;
  border-radius: 10px;
}

.stack-btn {
  @include flexbox;
  @include text-style(12);

  width: 30%;
  height: 38px;

  border-radius: 10px;
  color: $blue-dark;
  font-weight: 600;
  background-color: $blue-light;

  input[type="radio"] {
    display: none;
  }

  label {
    text-align: center;
    width: 100%;
    line-height: 38px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
  }
  input[type="radio"] {
    &:checked + label {
      background-color: $blue-dark;
      color: white;
    }
  }

  input[type="radio"]:hover:not(:checked) + label {
    background-color: #c9eaff;
  }

  input[type="radio"]:active + label {
    background-color: $blue;
    color: white;
  }

  &-group {
    @include flexbox(between);
    margin-bottom: 10px;
  }
}

.introduce-content {
  @include text-style(12);
  width: 100%;
  height: 170px;
  padding: 15px;
  border: 1px solid $border;
  border-radius: 10px;
  resize: none;
}

.skill {
  &-group {
    @include flexbox(start);
    flex-wrap: wrap;
    //justify-content: space-evenly;
    height: 80px;
    margin-bottom: 40px;
    overflow-y: scroll;
  }
  &-box {
    @include flexbox;
    @include text-style(14);

    height: 30px;
    margin: 0 10px 10px 0;
    background-color: $border;
    color: $secondary;
    font-weight: 600;
    border-radius: 10px;

    input[type="checkbox"] {
      display: none;
    }

    label {
      @include flexbox;
      width: 100%;
      height: 30px;
      padding: 12px;
      line-height: 30px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;
    }

    input[type="checkbox"]:hover + label {
      background-color: #ffeaa7;
      color: white;
    }

    input[type="checkbox"]:active + label {
      background-color: #ffd963;
      color: white;
    }

    input[type="checkbox"]:checked + label {
      background-color: #ffcc29;
      color: white;
    }
  }
}

#submit-btn {
  width: 100px;
}

.submit-box {
  @include flexbox;
  width: 100%;
}

@include responsive(T) {
  /* 배너 */
  .banner-top {
    margin: 0;
  }

  /* 네비게이션 바 */
  .category-bar {
    @include text-style(16);
    padding: 15px 0;
  }

  /* 소제목 스타일 */
  .introduce-title {
    @include text-style(16);
  }

  .profile-user-img {
    width: 115px;
    height: 115px;
    margin: 8px;
  }

  .edit-img {
    @include flexbox;
    position: absolute;
    top: 0;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $background;
    cursor: pointer;
  }

  .ic-camera {
    font-size: 13px;
    color: $secondary;
  }
}

@include responsive(D) {
  .empty-box {
    width: 100%;
    height: 700px;
  }

  .full {
    position: relative;
  }

  .web-box {
    @include flexbox;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1040px;
    height: 715px;
    border-radius: 10px;
    box-shadow: $card-shadow;
    background-color: white;
  }

  /* 네비게이션 바 */
  .category {
    width: 100%;

    background-color: $background;

    &-bar {
      @include column-flexbox(start, start);
      @include text-style(20);

      padding: 14px 0;
    }

    li {
      padding: 5px 0 5px 10px;
      text-align: left;
    }

    &-web {
      height: 603px;
      background-color: white;
    }
  }

  /* 메인과 위치 맞추기 위해 */
  aside {
    height: 650px;
  }

  .profile {
    @include column-flexbox;
    margin: 0 15px;

    border-bottom: 1px solid $secondary;

    &-wrapper {
      padding: 15px 30px;

      border: 1px solid $border;
      border-radius: 10px;
    }

    &-img {
      width: 125px;
      height: 125px;
      margin: 30px 0 10px;
    }

    &-info {
      @include flexbox;
      padding-bottom: 15px;
    }

    &-type {
      @include flexbox;
      width: 28px;
      height: 13px;
      padding: 3px;
      margin-right: 6px;
      border: 1px solid $blue;
      border-radius: 5px;
      font-size: 6px;
      color: $blue;
    }
    &-nick {
      @include text-style(14);
      color: $primary;
    }
    &-mypage {
      width: 125px;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 10px;
      margin-left: 15px;
      border-bottom: 1px solid $secondary;
    }

    &-edit {
      margin: 10px;
    }
  }

  /* 메인과 크기 맞추기 위해 */
  .edit-profile {
    width: 845px;
    height: 695px;
    padding: 15px 30px;
    margin: 0 10px;
    border: 1px solid $border;
    border-radius: 10px;
  }

  .edit-img {
    @include flexbox;
    position: absolute;
    top: 22px;
    right: -8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $background;
    cursor: pointer;
  }
  .little-title {
    border-bottom: 1px solid $border;
  }
  .skill-group {
    height: 210px;
    margin: 0;
  }

  #nickName,
  .stack-box,
  .one-liner-box,
  .skill-group-box,
  .introduce-box {
    width: 350px;
  }

  .one-liner {
    margin-bottom: 8px;
  }
  .nick-stack {
    @include flexbox(between);
  }

  .stack-btn-group {
    margin-bottom: 8px;
  }
  // .profile-header {
  //   @include flexbox(around);
  // }

  .introduce-title {
    @include text-style(16);
    padding: 8px;
    margin-left: 0;
  }

  .introduce-content {
    height: 120px;
  }

  .one-intro {
    @include column-flexbox;
  }

  .one-intro-skill {
    @include flexbox(between);
    margin-bottom: 20px;
  }
}
