@import "./main.scss";

.event-detail {
  margin-bottom: 24px;

  &-wrapper {
    @include text-style(14);

    .event-info {
      @include column-flexbox;

      width: 100%;
      margin-bottom: 16px;
      padding: 16px 0;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;

      .title {
        @include text-style(18);
      }

      .status {
        color: $blue;
        font-weight: 700;
        margin-top: 16px;
      }

      .period {
        margin-top: 8px;
      }
    }
  }

  &-image {
    width: 100%;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  @include responsive(T) {
    &-wrapper {
      @include text-style(16);

      .event-info {
        .title {
          @include text-style(24);
        }
      }
    }
  }

  @include responsive(D) {
    &-wrapper {
      .event-info {
        margin-bottom: 24px;
      }
    }
  }
}
