@import "./main.scss";

.banner {
  &-top {
    background-color: #fbeee5;

    &-wrapper {
      .banner-info {
        .banner-button {
          background-color: #f2999f;

          &:hover {
            background-color: $red;
          }
        }
      }
    }
  }
}

.event {
  &-title {
    @include text-style(18);
    margin-bottom: 16px;
  }

  &-item {
    display: block;
    padding: 0 8px;
    margin-bottom: 24px;

    &-image {
      width: 100%;
      height: 180px;
      margin-bottom: 10px;
      border-radius: 10px;

      filter: brightness(80%);

      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.05);
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s ease-in-out;
      }
    }

    &-info {
      @include flexbox(between);
      @include text-style(14);
    }

    // Note: 진행중인 이벤트
    &.is-active {
      .event-item-image {
        filter: brightness(100%);
      }

      .event-item-info {
        .status {
          color: $blue;
          font-weight: 700;
        }
      }
    }
  }

  @include responsive(T) {
    &-banner {
      @include flexbox(between);
      flex-direction: row;
      height: 160px;
      margin-top: 10px;

      &-wrapper {
        @include flexbox(between);
        flex-direction: row;
      }

      &-info {
        &-title {
          @include text-style(24);
        }

        &-description {
          margin-top: 8px;

          p {
            @include text-style(14);
          }

          p:last-child {
            @include text-style(13, $secondary);
          }
        }
      }

      &-image {
        width: 200px;
        height: 130px;
        margin: 0;

        img {
          width: 100%;
          height: 100px;
        }
      }
    }
  }

  @include responsive(D) {
    &-banner {
      height: 240px;

      &-info {
        &-description {
          margin-top: 8px;

          p {
            @include text-style(16);
          }

          p:last-child {
            @include text-style(14, $secondary);
          }
        }
      }

      &-image {
        width: 320px;
        height: 200px;

        img {
          width: 200px;
          height: auto;
        }
      }
    }

    &-item {
      &-image {
        height: 220px;
      }
    }
  }
}
