@import "./main.scss";

.event {
  &-banner {
    @include flexbox;
    background-color: $red-light;
    width: 100%;
    height: 280px;

    &-wrapper {
      @include column-flexbox;
    }

    &-title {
      @include text-style(24);
    }

    &-image {
      @include flexbox;
      max-width: 280px;
      min-width: 240px;
      height: 180px;
      border-radius: 10px;
      background-color: $red;
      margin-top: 24px;

      img {
        display: block;
        max-width: 100%;
        height: 140px;
      }
    }
  }

  &-title {
    @include text-style(18);
    margin-top: 24px;
  }

  &-card {
    margin-top: 16px;
    &-list {
      @include column-flexbox;
    }

    &-item:not(:last-child) {
      margin-bottom: 16px;
    }

    &-item {
      &.is-active {
        .event-card-item-image {
          img {
            filter: brightness(100%);
          }
        }

        .event-card-info-status {
          color: $blue;
          font-weight: 700;
        }
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
        filter: brightness(70%);
      }
    }

    &-info {
      @include flexbox(between);
      @include text-style(14);

      margin-top: 16px;
    }
  }

  @include responsive(T) {
    &-banner {
      @include flexbox(between);
      flex-direction: row;
      height: 160px;
      margin-top: 10px;

      &-wrapper {
        @include flexbox(between);
        flex-direction: row;
      }

      &-info {
        &-title {
          @include text-style(24);
        }

        &-description {
          margin-top: 8px;

          p {
            @include text-style(14);
          }

          p:last-child {
            @include text-style(13, $secondary);
          }
        }
      }

      &-image {
        width: 200px;
        height: 130px;
        margin: 0;

        img {
          width: 100%;
          height: 100px;
        }
      }
    }
  }

  @include responsive(D) {
    &-banner {
      height: 240px;

      &-info {
        &-description {
          margin-top: 8px;

          p {
            @include text-style(16);
          }

          p:last-child {
            @include text-style(14, $secondary);
          }
        }
      }

      &-image {
        width: 320px;
        height: 200px;

        img {
          width: 200px;
          height: auto;
        }
      }
    }
  }
}
