@import "./main.scss";

$section-margin: 24px;

$service-background: (
  2: #ffdede,
  3: #fcf2c4,
  4: #eff9ff,
  5: #ffe0c7,
);

$ranking-background: (
  2: #abdeff,
  3: #ffe9a4,
  4: #ffc1c9,
);

.banner {
  &-top {
    background-color: #fbeee5;

    &-wrapper {
      .banner-info {
        .banner-button {
          background-color: #f2999f;

          &:hover {
            background-color: $red;
          }
        }
      }
    }
  }
}

.home {
  // Note: 공통 요소
  .section-title {
    @include flexbox(between);
    margin-bottom: 16px;

    h3 {
      @include text-style(16);
    }

    .more-btn {
      @include flexbox;
      transition: color 150ms ease-in-out;

      &:not(:disabled):hover {
        color: $tertiary;
      }

      span {
        @include text-style(12);
      }

      .ic-chevron {
        display: inline-block;
        font-size: 12px;
        margin-left: 4px;
        transform: rotate(-180deg);
      }
    }

    &-new {
      @include flexbox;

      h3 {
        margin-right: 10px;
      }
    }
  }

  &-contest-preview {
    margin-bottom: $section-margin;

    &-slider {
      position: relative;

      .contest-slider {
        &-item {
          padding: 8px;
          border: 0.5px solid $border;
          border-radius: 8px;

          .thumbnail {
            border-radius: 4px;
            overflow: hidden;

            img {
              display: block;
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }

          .info {
            margin-top: 10px;

            .company-mem-name {
              @include text-style(12);
            }

            .contest-title {
              @include text-style(14);
            }

            .price-wrapper {
              @include text-style(14);
            }
          }
        }
      }

      .slider-controls {
        @include flexbox(between);
        @include pos-center;
        width: calc(100% + 40px);

        .control-button {
          @include inline-flexbox;
          width: 40px;
          height: 40px;
          font-size: 18px;
          background-color: $white;
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
          color: $primary;
          border-radius: 50%;
          transition: background-color 100ms ease-in-out,
            color 100ms ease-in-out;

          &-is-prev {
            .ic-chevron {
              display: inline-block;
              // margin-right: 3px;
            }
          }

          &.is-next {
            .ic-chevron {
              display: inline-block;
              transform: rotate(-180deg);
              // margin-left: 3px;
            }
          }

          &:hover {
            color: $white;
            background-color: $blue;
          }
        }

        .next {
        }
      }
    }
  }

  &-services {
    margin-bottom: $section-margin;

    .service {
      a {
        @include column-flexbox;
      }

      // Note: 서비스 추천 아이콘 배경색 변경
      @for $i from 2 through 5 {
        &-wrapper {
          &:nth-of-type(#{$i}) {
            .service-image {
              background-color: map-get($service-background, $i);
            }
          }
        }
      }

      &-image {
        @include flexbox;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        padding: 14px;

        img {
          display: block;
          width: auto;
          height: 100%;
        }
      }

      &-name {
        @include text-style(12);
        display: inline-block;
        margin-top: 8px;
      }
    }
  }

  &-rankings {
    margin-bottom: $section-margin;

    @for $i from 2 through 4 {
      .home-ranking {
        &:nth-of-type(#{$i}) {
          .home-ranking-show {
            .ranking-title {
              background-color: map-get($ranking-background, $i);
            }
          }
        }

        &:not(:last-of-type) {
          .home-ranking-show {
            margin-bottom: 16px;
          }
        }
      }
    }

    .home-ranking-show {
      .ranking-title {
        @include text-style(14);
        font-weight: 700;
        line-height: 40px;

        height: 40px;
        border-radius: 8px;

        padding-left: 16px;
        margin-bottom: 10px;
      }

      .ranking-list {
        .ranking-item {
          @include flexbox(between);
          @include text-style(14);

          &-left {
            @include flexbox(start);

            .rank {
              width: 8px;
              margin-right: 20px;
            }

            .avatar-24 {
              margin-right: 8px;
            }
          }

          &-right {
          }

          &:not(:first-child) {
            padding-top: 10px;
          }

          &:not(:last-child) {
            padding-bottom: 10px;
            border-bottom: 1px solid $border;
          }
        }
      }
    }
  }

  @include responsive(T) {
    &-services {
      .service {
        &-image {
          width: 100%;
          height: 120px;
          border-radius: 10px;
        }

        &-name {
          @include text-style(14);
        }
      }
    }

    &-rankings {
      .ranking-image {
        width: 100px;
        height: 100px;

        img {
          display: block;
          width: 100px;
          height: 100%;
        }
      }
    }
  }
}

.footer {
  margin-top: 0;
}
