@import "./main.scss";

// Note: 속성값 변수 모음
$service-background: (
  1: #ffdede,
  2: #fcf2c4,
  3: #eff9ff,
  4: #ffe0c7,
);

$ranking-background: (
  2: #abdeff,
  3: #ffe9a4,
  4: #ffc1c9,
);

// 최하단 디자인 요소 사이즈 변수
$feature-box-size-sm: 100px;
$feature-box-size-md: 120px;
$feature-box-size-lg: 150px;

$feature-box-margin: 18px;

$track-width-sm: ($feature-box-size-sm + $feature-box-margin) * 9;
$track-width-md: ($feature-box-size-md + $feature-box-margin) * 9;
$track-width-lg: ($feature-box-size-lg + $feature-box-margin) * 9;

$track-speed: 80s;

// 광고 모달 활성화 시 스크롤 방지
body {
  overflow: hidden;
}

.banner {
  &-top {
    background-color: #fbeee5;

    &-wrapper {
      .banner-info {
        .banner-button {
          background-color: #f2999f;

          &:hover {
            background-color: $red;
          }
        }
      }
    }
  }

  &-bottom {
    &:hover {
      .banner-bottom-image {
        transform: translateY(-10px);

        animation: shake 1s infinite;

        @keyframes shake {
          0% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(-4deg);
          }
          50% {
            transform: rotate(4deg);
          }
          75% {
            transform: rotate(-4deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

.home {
  // Note: 공통 요소
  .section-title {
    @include flexbox(between);
    margin-bottom: $section-title-bottom-sm;

    // 타이틀 제목
    h3 {
      @include text-style(16);
    }

    .more-btn {
      @include flexbox;
      transition: color 150ms ease-in-out;

      &:not(:disabled):hover {
        color: $tertiary;
      }

      span {
        @include text-style(12);
      }

      .ic-chevron {
        display: inline-block;
        font-size: 10px;
        margin-left: 4px;

        position: relative;
        top: -1px;

        transform: rotate(-180deg);
      }
    }

    // Note: 태그가 있는 경우
    &-new {
      @include flexbox;

      h3 {
        margin-right: 10px;
      }
    }
  }

  // Note: 섹션 간 간격
  &-contest-preview,
  &-services,
  &-rankings,
  &-contest-new {
    margin-bottom: $between-section-sm;
  }

  &-contest-preview {
    &-slider {
      position: relative;

      .contest-slider {
        &-item {
          padding: 8px;
          border: 0.5px solid $border;
          border-radius: 8px;

          .thumbnail {
            border-radius: 4px;
            overflow: hidden;

            img {
              display: block;
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }

          .info {
            margin-top: 10px;

            .company-mem-name {
              @include text-style(12);
            }

            .contest-title {
              @include text-style(14);
            }

            .price-wrapper {
              @include text-style(14);
            }
          }
        }
      }

      .slider-controls {
        @include flexbox(between);
        @include pos-center;
        width: calc(100% + 40px);

        .control-button {
          @include inline-flexbox;
          width: 40px;
          height: 40px;
          font-size: 18px;
          background-color: $white;
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
          color: $primary;
          border-radius: 50%;
          transition: background-color 100ms ease-in-out,
            color 100ms ease-in-out;

          &-is-prev {
            .ic-chevron {
              display: inline-block;
              // margin-right: 3px;
            }
          }

          &.is-next {
            .ic-chevron {
              display: inline-block;
              transform: rotate(-180deg);
              // margin-left: 3px;
            }
          }

          &:hover {
            color: $white;
            background-color: $blue;
          }
        }

        .next {
        }
      }
    }
  }

  &-services {
    .service {
      @include column-flexbox;

      // Note: 서비스 바로가기 버튼 링크들 배경색
      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          .service-image {
            background-color: map-get($service-background, $i);
          }
        }
      }

      &-image {
        @include flexbox;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        padding: 14px;

        img {
          display: block;
          width: auto;
          height: 100%;
        }
      }

      &-name {
        @include text-style(12);
        display: inline-block;
        margin-top: 12px;
      }
    }
  }

  &-rankings {
    .home-ranking {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      // Note: .ranking-title 배경색
      @for $i from 2 through 4 {
        &:nth-of-type(#{$i}) {
          .ranking-title {
            background-color: map-get($ranking-background, $i);
          }
        }
      }

      .ranking-title {
        @include text-style(14);
        font-weight: 700;

        line-height: 40px;
        height: 40px;

        border-radius: 8px;

        padding: 0 16px;
        margin-bottom: 16px;
      }

      .ranking-list {
        .ranking-item {
          @include flexbox(between);
          @include text-style(14);

          padding: 0 12px;

          &:not(:first-child) {
            padding-top: 12px;
          }

          &:not(:last-child) {
            padding-bottom: 12px;
            border-bottom: 1px solid $border;
          }

          // Note: 순위 / 프로필 / 닉네임
          &-left {
            @include flexbox(start);

            .rank {
              width: 8px;
              margin-right: 20px;
            }

            .avatar-24 {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  &-contest-new {
    // Note: 보드형 공모전 보기
    .new-contest-board {
      .new-contest-item {
        @include flexbox(start);
        margin-bottom: 10px;
        padding: 8px 16px;

        border: 1px solid $border;
        border-radius: 8px;

        transition: background-color 0.15s ease-in-out;

        &:hover {
          background-color: $background;
        }

        .contest-thumbnail {
          width: 60px;
          margin-right: 20px;

          img {
            width: 100%;
            height: auto;
            border-radius: 4px;
          }
        }
      }
    }

    .contest-info {
      @include column-flexbox(center, start);
      width: 100%;

      .user-nick {
        @include text-style(12, $tertiary);
      }

      .contest-title,
      .contest-price {
        @include text-style(14);
      }

      // Note: 2줄 허용
      .contest-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  &-features {
    .section-title {
      justify-content: center;
    }

    .track-wrapper {
      height: $feature-box-size-sm + 20px;
      position: relative;
      overflow-x: hidden;

      .track {
        @include flexbox(start);
        position: absolute;
        left: 0;
        top: 0;

        margin: 10px;

        transform: translate3d(0, 0, 0);

        // Note: track 애니메이션 값 설정
        &.first {
          animation: slide-first $track-speed linear infinite;

          @keyframes slide-first {
            0% {
              transform: translate3d(0, 0, 0);
            }
            100% {
              transform: translate3d(-$track-width-sm, 0, 0);
            }
          }
        }

        &.second {
          animation: slide-second $track-speed linear infinite;

          @keyframes slide-second {
            0% {
              transform: translate3d($track-width-sm, 0, 0);
            }
            100% {
              transform: translate3d(0, 0, 0);
            }
          }
        }

        &.third {
          top: initial;
          bottom: 0;

          animation: slide-third $track-speed linear infinite;

          @keyframes slide-third {
            0% {
              transform: translate3d(-$track-width-sm, 0, 0);
            }
            100% {
              transform: translate3d(0, 0, 0);
            }
          }
        }

        &.forth {
          top: initial;
          bottom: 0;

          animation: slide-forth $track-speed linear infinite;

          @keyframes slide-forth {
            0% {
              transform: translate3d(0, 0, 0);
            }
            100% {
              transform: translate3d($track-width-sm, 0, 0);
            }
          }
        }

        .feature-box {
          @include column-flexbox;
          @include text-style(16, $white);

          width: $feature-box-size-sm;
          height: $feature-box-size-sm;

          margin-right: $feature-box-margin;

          border-radius: 10px;

          box-shadow: $card-shadow;

          // Note: 개발 관련 아이콘 사이즈 조정
          &.is-blue,
          &.is-yellow {
            .feature-image {
              img {
                width: 100%;
              }
            }
          }

          &.is-blue {
            background-color: $blue;
          }

          &.is-yellow {
            background-color: $yellow;
          }

          // Note: 일반 3D 아이콘 사이즈 조정
          .feature-image {
            @include flexbox;

            img {
              display: block;
              width: 96px;
              height: 100%;
            }
          }

          .feature-name {
            @include text-style(14);
          }
        }
      }
    }
  }

  @include responsive(T) {
    .section-title {
      margin-bottom: $section-title-bottom-md;

      h3 {
        @include text-style(18);
      }
    }

    &-contest-preview,
    &-services,
    &-rankings,
    &-contest-new {
      margin-bottom: $between-section-md;
    }

    &-services {
      .service {
        &:hover {
          .service-image {
            img {
              transform: scale(1.1);
            }
          }

          .service-name {
            color: $blue-dark;
          }
        }

        &-image {
          width: 100%;
          height: 120px;
          padding: 28px;
          border-radius: 8px;

          img {
            transition: 0.2s ease-in-out;
          }
        }

        &-name {
          @include text-style(14);
          margin-top: 14px;
        }
      }
    }

    &-rankings {
      // Note: .ranking-image 배경색
      @for $i from 2 through 4 {
        .home-ranking {
          &:nth-of-type(#{$i}) {
            .ranking-title {
              background-color: transparent;
            }

            .ranking-image {
              background-color: map-get($ranking-background, $i);
            }
          }
        }
      }

      .home-ranking {
        .ranking-title {
          padding: 0;
          margin-bottom: 8px;
        }

        .ranking-image {
          @include flexbox;
          width: 100%;
          height: 120px;

          border-radius: 8px;

          padding: 16px;
          margin-bottom: 20px;

          img {
            display: block;
            width: 100px;
            height: 100%;
          }
        }
      }
    }

    &-features {
      .track-wrapper {
        height: $feature-box-size-md + 20px;

        .track {
          // Note: track 애니메이션 값 설정
          &.first {
            @keyframes slide-first {
              0% {
                transform: translate3d(0, 0, 0);
              }
              100% {
                transform: translate3d(-$track-width-md, 0, 0);
              }
            }
          }

          &.second {
            @keyframes slide-second {
              0% {
                transform: translate3d($track-width-md, 0, 0);
              }
              100% {
                transform: translate3d(0, 0, 0);
              }
            }
          }

          &.third {
            @keyframes slide-third {
              0% {
                transform: translate3d(-$track-width-md, 0, 0);
              }
              100% {
                transform: translate3d(0, 0, 0);
              }
            }
          }

          &.forth {
            @keyframes slide-forth {
              0% {
                transform: translate3d(0, 0, 0);
              }
              100% {
                transform: translate3d($track-width-md, 0, 0);
              }
            }
          }

          .feature-box {
            width: $feature-box-size-md;
            height: $feature-box-size-md;
          }
        }
      }
    }
  }

  @include responsive(D) {
    .section-title {
      margin-bottom: $section-title-bottom-lg;

      h3 {
        @include text-style(24);
      }
    }

    &-contest-preview,
    &-services,
    &-rankings,
    &-contest-new {
      margin-bottom: $between-section-lg;
    }

    &-services {
      .service {
        &-image {
          height: 160px;
        }

        &-name {
          @include text-style(16);
          margin-top: 16px;
        }
      }
    }

    .new-contest-list {
      @include flexbox(start);
      flex-wrap: wrap;

      // Note: 카드형 공모전 보기
      .new-contest-item {
        width: 190px;
        // Note: 광고 카드 2줄 기준, height
        height: 260px;

        padding: 10px;
        margin-right: 24px;
        margin-bottom: 16px;

        box-shadow: $card-shadow;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: translateY(-7px);
        }

        &.is-ad {
          .contest-header {
            @include flexbox(between);
            width: 100%;

            .ad-tag {
              font-size: 8px;
              color: $tertiary;

              padding: 1px 5px;

              border: 1px solid $border;
              border-radius: 4px;
            }
          }
        }

        .contest-thumbnail {
          width: 100%;
          height: 160px;

          margin-bottom: 10px;

          transition: 0.3s ease-in-out;

          img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            object-fit: cover;
          }
        }
      }
    }

    &-features {
      .track-wrapper {
        height: $feature-box-size-lg * 2 + 40px;

        .track {
          // Note: track 애니메이션 값 설정
          &.first {
            @keyframes slide-first {
              0% {
                transform: translate3d(0, 0, 0);
              }
              100% {
                transform: translate3d(-$track-width-lg, 0, 0);
              }
            }
          }

          &.second {
            @keyframes slide-second {
              0% {
                transform: translate3d($track-width-lg, 0, 0);
              }
              100% {
                transform: translate3d(0, 0, 0);
              }
            }
          }

          &.third {
            @keyframes slide-third {
              0% {
                transform: translate3d(-$track-width-lg, 0, 0);
              }
              100% {
                transform: translate3d(0, 0, 0);
              }
            }
          }

          &.forth {
            @keyframes slide-forth {
              0% {
                transform: translate3d(0, 0, 0);
              }
              100% {
                transform: translate3d($track-width-lg, 0, 0);
              }
            }
          }

          .feature-box {
            width: $feature-box-size-lg;
            height: $feature-box-size-lg;
          }
        }
      }
    }
  }
}

.footer {
  margin-top: 0;
}
