@import "./main.scss";

.banner {
  &-top {
    @include flexbox;
    background-color: #beffee;
    width: 100%;
    height: 280px;
    &-wrapper {
      @include column-flexbox;
    }

    &-title {
      @include text-style(24);
    }

    &-image {
      @include flexbox;
      max-width: 280px;
      min-width: 240px;
      height: 180px;
      border-radius: 10px;
      background-color: #80eed1;
      margin-top: 24px;

      img {
        display: block;
        max-width: 100%;
        height: 140px;
      }
    }
  }

  &-bottom {
    @include column-flexbox;
    width: 100%;
    height: 160px;
    background-color: #222121;
    margin-top: 20px;

    &-image {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .ad-slogan {
      @include text-style(16, $white);
      margin-top: 16px;

      .text-emphasis {
        color: $yellow;
      }
    }
  }
}

.home {
  // TODO: 규격용, 삭제 요망!
  .temp-layout {
    width: 100%;
    height: 200px;
    background-color: $blue;
    border-radius: 10px;
  }

  .section-title {
    @include text-style(16);
    @include flexbox(between);
    margin-top: 24px;
    margin-bottom: 16px;

    .more-btn {
      @include text-style(12);
      @include flexbox;
      transition: color 200ms ease-in-out;

      &:not(:disabled):hover {
        color: $tertiary;
      }

      .ic-chevron {
        display: inline-block;
        transform: rotate(-180deg);
        margin-left: 4px;
      }
    }
  }

  &-services {
    .service {
      a {
        @include column-flexbox;
      }

      @for $i from 1 through 4 {
        $service-background: (
          1: #fcf2c4,
          2: #ffdede,
          3: #e1deff,
          4: #eff9ff,
        );

        &-image-#{$i} {
          @include flexbox;
          width: 58px;
          height: 58px;
          border-radius: 50%;
          background-color: map-get($service-background, $i);

          img {
            display: block;
            width: auto;
            height: 28px;
          }
        }
      }

      &-name {
        @include text-style(12);
        display: inline-block;
        margin-top: 8px;
      }
    }
  }
}
