@import "./main";

.join-all-wrapper {
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.join-box {
  width: 290px;
  height: 420px;
  border-radius: 10px;
  background-color: $white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: $join-modal-level;
}

.check {
  width: 45px;
  height: 45px;
  position: relative;
  top: 70px;
  left: 125px;
  color: $blue-dark;
}

.add-information-btn {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: $blue-dark;
  color: $white;
  position: relative;
  top: 160px;
  left: 55px;
}

.add-information {
  position: relative;
  top: 17px;
  left: 30px;
}

.pre-first {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: 75px;
  left: 68px;
}

.reject {
  font-size: 12px;
  position: relative;
  top: 180px;
  left: 80px;
  color: $primary;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $tertiary;
}

@include responsive(D) {
  .join-box {
    width: 550px;
    height: 360px;
  }
  .check {
    width: 60px;
    height: 60px;
    top: 50px;
    left: 245px;
  }

  .pre-first {
    font-size: 22px;
    font-weight: 700;
    top: 45px;
    left: 180px;
  }

  .add-information-btn {
    width: 180px;
    height: 50px;
    top: 100px;
    left: 180px;
  }

  .reject {
    font-size: 14px;
    top: 100px;
    left: 195px;
  }
}
