@import "./main";

.agree-box1 {
  display: none;
}
.agree-box2 {
  display: none;
}
.agree-box3 {
  display: none;
}

.join {
  &-second-wrapper {
    @include flexbox;
    height: 100vh;
  }

  &-second-box {
    width: 320px;
    height: 560px;
  }
}

.logo {
  &-img {
    width: 174.55px;
    height: 40px;
    margin-bottom: 15px;
  }

  &-info-box {
    @include flexbox;
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.info {
  @include text-style(14);
}

.mem {
  &-type-box {
    margin-bottom: 10px;
  }

  &-type {
    @include text-style(16);
  }
}

.star {
  color: #f86d7d;
  font-size: larger;
}

.type {
  @include text-style(16);

  &-explanation {
    @include text-style(12, $secondary);
  }
  &-box {
    @include flexbox;
    width: 100%;
    height: 75px;
    border: 1px solid $border;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &-explanation-box {
    @include column-flexbox(center, start);
  }
}

.line {
  border: 0.2px solid $tertiary;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chk-img {
  margin-right: 15px;
  cursor: pointer;
}

.all-agree {
  @include inline-flexbox;

  &-wrapper {
    @include column-flexbox(center, start);
  }

  &-text {
    @include text-style(14);
    font-weight: 700;
  }

  margin-bottom: 15px;
}

.essential-chk {
  @include inline-flexbox(start, center);
  width: 100%;
  margin-bottom: 15px;

  &-content {
    @include text-style(13, $primary);
    @include flexbox(between);
    width: 100%;
  }
}

.next-btn {
  @include flexbox;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: $tertiary;
  color: $white;
  font-weight: bolder;
  margin-top: 15px;
}

.single-box.clicked {
  border-color: $blue;
}

.company-box.clicked {
  border-color: $blue;
}

@include responsive(D) {
  .login-bg-img {
    width: 650px;
    height: 590px;
  }

  .join-second-wrapper {
    @include flexbox(between);
  }

  .join-second-box {
    margin-right: 70px;
    margin-bottom: 15px;
    display: inline-block;
    width: 320px;
    height: 560px;
  }
}
