@import "./main";

.login-wrapper {
  @include flexbox;
  height: 100vh;
}

.logo-img {
  width: 174.55px;
  height: 40px;
  margin-bottom: 15px;
}

.logo-p-box {
  @include flexbox;
  flex-direction: column;
}

.p {
  &-email {
    color: $black;
  }

  &-pw {
    color: $black;
  }
}

.login {
  &-btn {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    color: $white;
    font-weight: 700;
    background-color: $blue;
    position: relative;
    top: 30px;
  }
  &-box {
    width: 320px;
    height: 560px;
  }
}

.input {
  &-email {
    width: 100%;
    height: 42px;
    border: 1px solid $border;
    border-radius: 10px;
    padding-left: 15px;
  }

  &-pw {
    padding-left: 15px;
    position: relative;
    right: 11px;
    top: 5px;
  }
}

.pw-input-box fieldset {
  border: 1px solid $border;
  border-radius: 10px;
  width: 100%;
  height: 42px;
}

#pw-see-btn {
  color: $tertiary;
  position: relative;
  left: 80px;
  top: 5px;
}

.save-id-wrapper {
  position: relative;
  bottom: 10px;
  left: 1px;
}

.line {
  &1 {
    border: 0.5px solid $secondary;
    width: 135px;
  }

  &2 {
    border: 0.5px solid $secondary;
    width: 135px;
    position: relative;
    bottom: 2px;
    left: 181.5px;
  }
}

.p-or {
  color: $tertiary;
  font-size: 13px;
  position: relative;
  bottom: 10px;
  left: 148px;
}

.line-box {
  padding-top: 10px;
  padding-bottom: 15px;
}
.google-logo {
  width: 23px;
  height: 23px;
  position: relative;
  top: 7px;
  left: 15px;
}

.kakao-logo {
  width: 30px;
  height: 23px;
  position: relative;
  left: 148px;
  top: 7px;
  z-index: 1;
}

.google-btn {
  width: 150px;
  height: 40px;
  border: 1px solid $border;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 30px;
  position: relative;
  right: 60px;
}

.kakao-btn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #fee500;
  font-size: 14px;
  padding-left: 30px;
  position: relative;
  left: 166px;
  bottom: 40px;
}

.email-input-box {
  padding-top: 7px;
}

.pw {
  &-input-box {
    padding-top: 7px;
  }

  &-find {
    position: relative;
    left: 240px;
    bottom: 29px;
    color: $primary;
    font-size: 14px;
  }
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
}

.span {
  &-first {
    font-size: 14px;
    color: $primary;
  }

  &-second {
    font-size: 13px;
    position: relative;
    bottom: 30px;
    left: 50px;
  }
}

.join {
  color: $primary;
  font-size: 13px;
  position: relative;
  left: 50px;
  bottom: 30px;
}

.p-pw {
  padding-bottom: 7px;
}

@include responsive(D) {
  .login-bg-img {
    width: 650px;
    height: 590px;
  }

  .login-wrapper {
    @include flexbox(between);
  }

  .login-box {
    margin-right: 70px;
    margin-bottom: 15px;
    display: inline-block;
    width: 320px;
    height: 560px;
  }
}
