@import "./main";

.login-bg-img {
  width: 650px;
  height: 590px;
  display: inline-block;
  padding-right: 20px;
}

.logo-img {
  width: 174.55px;
  height: 40px;
}

.login-btn {
  width: 100%;
  height: 50px;
  border: 1px solid none;
  border-radius: 10px;
  color: $white;
  background-color: $blue;
}

.input {
  &-email {
    width: 100%;
    height: 42px;
    border: 1px solid $border;
    border-radius: 10px;
    padding-left: 15px;
  }

  &-pw {
    width: 100%;
    height: 42px;
    border: 1px solid $border;
    border-radius: 10px;
    padding-left: 15px;
  }
}

.line {
  &1 {
    color: $tertiary;
    width: 140px;
  }

  &2 {
    color: $tertiary;
    width: 140px;
  }
}

.eye-img {
  width: 20px;
  height: 20px;
}

.login-box {
  width: 300px;
  height: 510px;
  display: inline-block;
  margin-right: 60px;
  margin-top: 20px;
}

.login-wrapper {
  @include flexbox(between);
  padding-top: 90px;
}

.google-login {
  width: 50%;
  height: 40px;
}

.kakao-login {
  width: 50%;
  height: 40px;
}

.email-input-box {
  padding-top: 7px;
}

.pw-input-box {
  padding-top: 7px;
}
