@import "./main";

.logo-img {
  width: 174.55px;
  height: 40px;
  position: relative;
  left: 65px;
}

.p {
  &-email {
    color: $black;
  }

  &-pw {
    color: $black;
  }

  &-first {
    position: relative;
    left: 40px;
    color: black;
  }
}

.login {
  &-btn {
    width: 100%;
    height: 50px;
    border: 1px solid none;
    border-radius: 10px;
    color: $white;
    font-weight: 700;
    background-color: $blue;
  }
  &-box {
    width: 290px;
    height: 480px;
    border: 1px solid black;
  }
}

.input {
  &-email {
    width: 100%;
    height: 42px;
    border: 1px solid $border;
    border-radius: 10px;
    padding-left: 15px;
  }

  &-pw {
    padding-left: 15px;
    position: relative;
    right: 11px;
    top: 5px;
  }
}

.pw-input-box fieldset {
  border: 1px solid $border;
  border-radius: 10px;
  width: 100%;
  height: 42px;
}

.line {
  &1 {
    color: $tertiary;
    width: 140px;
  }

  &2 {
    color: $tertiary;
    width: 140px;
  }
}

.google-login {
  width: 50%;
  height: 40px;
}

.kakao-login {
  width: 50%;
  height: 40px;
}

.email-input-box {
  padding-top: 7px;
}

.pw {
  &-input-box {
    padding-top: 7px;
  }

  &-find {
    position: relative;
    left: 205px;
    bottom: 18.5px;
    color: $primary;
    font-size: 14px;
  }
}
#pw-see-btn {
  color: $tertiary;
  position: relative;
  left: 55px;
  top: 5px;
}

.check-id-save {
  size: 5;
}

@include responsive(D) {
  .login-bg-img {
    width: 650px;
    height: 590px;
    padding-right: 20px;
  }

  .login-wrapper {
    @include flexbox(between);
    padding-top: 90px;
  }

  .login-box {
    margin-right: 60px;
    margin-top: 20px;
    display: inline-block;
    width: 300px;
    height: 510px;
  }
}
