@import "./main.scss";

/***** 모바일 *****/
/* 네비게이션 바 */
.category {
  width: 100%;
  background-color: $background;
  margin-bottom: 50px;
  &-bar {
    @include flexbox(around);
    font-size: 12px;
    padding: 14px 0;

    text-align: center;
  }
}

/******** 여기까지 마이페이지 공통 코드 ********/

/* 프로필 사진 + 백 + 닉네임 */
.profile {
  @include column-flexbox;

  &-img {
    width: 85px;
    height: 85px;
    margin: 8px;
  }

  /* 타입과 이름 가로 배치 */
  &-info {
    @include flexbox;
  }

  &-type {
    @include flexbox;
    width: 28px;
    height: 13px;
    padding: 3px;
    margin-right: 6px;
    border: 1px solid $blue;
    border-radius: 5px;
    font-size: 6px;
    color: $blue;
  }

  &-nick {
    @include text-style(14, $primary);
    font-weight: bold;
  }
}

/* 소제목 스타일 */
.introduce-title {
  @include text-style(12);
  margin: 0 8px 8px;
  font-weight: 700;
}

/* 자기 소개 */
.one-liner {
  margin-bottom: 16px;

  textarea {
    @include text-style(12);
    width: 100%;
    height: 190px;
    padding: 14px 20px;
    border-radius: 10px;
    background-color: $white;
    border: 1px solid $border;
    resize: none;
  }
}

/* 수상 이력 */
.award {
  &-box {
    @include flexbox;
    width: 100%;
    border: 1px solid $border;
    border-radius: 10px;
    margin-bottom: 16px;
  }

  &-table {
    table-layout: auto;
    table-layout: fixed;
    width: 100%;
    padding: 10px;

    border-radius: 10px;
    text-align: center;
  }

  &-table td {
    padding: 5px;
  }

  &-table tr:first-child {
    @include text-style(20);
    font-weight: 700;
  }

  &-table tr:last-child {
    font-size: 10px;
  }
}

/* 내 기술 */
/* 스크롤 줘야 할 거 같은데 가로? 세로? */
.skill-box {
  @include flexbox;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid $border;
  border-radius: 10px;
}

/* 3의 배수로 light-blue 쓰자는 의견 */
.my-skill {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 8px 8px;
  margin: 4px 4px;
  background-color: $blue;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: white;
  text-align: center;
}

/* 관심 목록 */
/* 반응형 시 가로배치 위해*/
.watchlist-box-group {
  @include flexbox(start, start);
  flex-wrap: wrap;
  overflow: hidden;
}

/***** 태블릿 *****/
@include responsive(T) {
  /* 마이페이지의 경우 nav바랑 떨어져서 margin 없애줌 */

  .category {
    margin-top: -50px;
  }
  /* 네비게이션 바 */
  .category-bar {
    @include text-style(16);
    padding: 15px 0;
  }

  /* 프로필 사진 + 백 + 닉네임 */
  .profile {
    margin-bottom: 30px;

    &-img {
      width: 130px;
      height: 130px;
      margin: 30px 0 10px;
    }
  }

  /* 소제목 스타일 */
  .introduce-title {
    @include text-style(16);
    margin: 0 5px 12px;
  }

  /* 한줄 소개 */
  .one-liner {
    textarea {
      @include text-style(14);
      width: 100%;
      height: 180px;
    }
  }
  .award {
    &-box {
      justify-content: space-around;
      align-items: center;
    }

    &-table {
      table-layout: auto;
      table-layout: fixed;
      width: 70%;
      height: 80%;
      padding: 10px;

      border-radius: 10px;
      text-align: center;
    }

    &-table tr:first-child {
      @include text-style(18);
      font-weight: 600;
    }

    &-table tr:last-child {
      @include text-style(12);
    }
  }
  /* 당선률 프로그래스 바 들어갈 공간 */
  /* JS할 때 같이 진행 */
  .progress {
    position: relative;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin: 15px 0 15px 65px;
    background: $blue;
  }
}

/***** 웹 *****/
@include responsive(D) {
  /* 헤더와 푸터 사이의 거리*/
  .empty-box {
    width: 100%;
    height: 700px;
  }

  .category {
    margin-top: 0;
  }

  /* body에 relative 줄 경우 배치가 이상해져서 div 하나 생성 */
  .full {
    position: relative;
  }

  /* 페이지 전환 시 자연스럽기 위해 크기 고정*/
  .web-box {
    @include flexbox;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 715px;
    border-radius: 10px;
    box-shadow: $card-shadow;
    background-color: $white;
  }

  .category {
    width: 100%;

    background-color: $white;

    &-bar {
      @include column-flexbox(start, start);

      @include text-style(20);
      padding: 14px 0;
      margin-bottom: 0;
    }

    li {
      padding: 5px 0 5px 0;
      text-align: left;
    }

    /* 높이 안주면 가운데 배치 됨 */
    &-web {
      height: 603px;
    }
  }

  .profile {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    &-wrapper {
      padding: 25px;
      height: 695px;
      border: 1px solid $border;
      border-radius: 10px;
    }

    &-img {
      width: 125px;
      height: 125px;

      &-box {
        padding: 0 15px 0 15px;
      }
    }

    &-info {
      padding-bottom: 15px;
    }

    &-mypage {
      width: 125px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
      padding-right: 15px;
    }
  }
  .introduce-title {
    margin-left: 0;
    margin-bottom: 12px;
  }
  /* 한줄 소개 */
  .one-liner {
    margin-bottom: 10px;
    textarea {
      @include text-style(12);
      width: 520px;
      height: 140px;
      background-color: white;
      resize: none;
    }
  }

  /* 어워드 */
  .award {
    width: 220px;
    height: 323px;

    &-box {
      @include column-flexbox;
      height: 287px;
      justify-content: space-around;
      align-items: center;
      margin: 0;
    }

    &-table {
      height: 120px;
    }
  }

  .progress {
    margin: 30px 0 10px 0;
    background-color: $blue;
  }

  .credit {
    width: 250px;
    &-box {
      @include flexbox;
      height: 100px;
      align-items: center;

      padding: 10px;

      border: 1px solid $border;
      border-radius: 10px;
    }

    &-c {
      @include flexbox;
      width: 28px;
      height: 17px;
      background-color: $blue-light;
      border-radius: 10px;
      margin-right: 8px;
      font-size: 10px;
      font-weight: 700;
      color: white;
    }

    &-amount {
      font-size: 20px;
      font-weight: 600;
    }
  }

  /* 내 기술 */
  .skill {
    width: 250px;
    &-box {
      height: 100px;
      padding: 10px;
      margin: 0;
    }
  }

  .watchlist {
    overflow: hidden;

    p {
      margin: 0 0 20px 15px;
    }
  }
  /* 코워드 크레딧과 나의 기술 가로 정렬 위해 */
  .credit-skill {
    @include flexbox(between);

    width: 520px;
  }

  /* 소개와 creadit-skill 세로 정렬 위해 */
  .one-credit-skill {
    @include column-flexbox;
    width: 550px;
    margin-right: 12px;
  }

  /* 어워드와 one-credit-skill 가로 정렬 위해 */
  .web-box-header {
    @include flexbox(between);
    margin-bottom: 20px;
  }

  .contest-card {
    cursor: pointer;
    margin-top: 0;
    // position: relative;
  }

  .contest-slider {
    @include flexbox(start, center);
    height: 250px;
    position: relative;
  }

  .slider-wrapper {
    height: 250px;
  }

  .tns-visually-hidden {
    position: absolute;
    left: -10000em;
  }

  aside {
    height: 630px;
  }

  .category-web {
    height: 613px;
    margin: 0;
  }
}
