@import "./main";

.profile-wrapper {
  @include responsive(D) {
    width: 850px;
  }
}

.mypage {
  .btn {
    &-secondary {
      background-color: $background;
    }

    &-wrapper {
      &-status {
        margin: 20px 0 20px 0;
      }
    }
  }

  @include responsive(D) {
    .btn {
      &-wrapper {
        &-status {
          margin-top: 0;
        }
      }
    }
  }
}

.contest-slider-card {
  width: 100%;
}

/**************************스크롤*******************************/

.scroll {
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .box {
    max-width: 460px;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 auto;
  }
  #tab ul {
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
  }
  #tab ul li {
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
  }

  @include responsive(T) {
  }
}
