@import "./main.scss";

.ranking {
  &-banner {
    @include flexbox;
    background-color: #ffefc5;
    width: 100%;
    height: 280px;

    &-wrapper {
      @include column-flexbox;
    }

    &-title {
      @include text-style(24);
    }

    &-image {
      @include flexbox;
      max-width: 280px;
      min-width: 240px;
      height: 180px;
      border-radius: 10px;
      background-color: #fff6de;
      margin-top: 24px;

      img {
        display: block;
        max-width: 100%;
        height: 140px;
      }
    }
  }

  &-title {
    @include text-style(18);
    margin-top: 24px;
  }

  &-dropdown {
    @include text-style(14);

    position: relative;
    margin-top: 16px;
    left: -5px;
  }

  &-image {
    @include flexbox;
    width: 100%;
    height: 160px;
    background-color: #abdeff;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &-list {
    margin-top: 16px;
  }

  &-item:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid $border;
  }

  &-item:not(:first-child) {
    padding-top: 10px;
  }

  &-item {
    @include flexbox(between);

    &-left {
      @include flexbox(start);

      .rank {
        @include text-style(14);
        width: 8px;
        margin-right: 24px;
      }

      .user-profile {
        @include flexbox;

        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $border;
        margin-right: 5px;

        position: relative;
        top: 1px;
      }

      .user-name {
        @include text-style(14);
      }
    }
  }

  @include responsive(T) {
    &-banner {
      @include flexbox(between);
      flex-direction: row;
      height: 160px;
      margin-top: 10px;

      &-wrapper {
        @include flexbox(between);
        flex-direction: row;
      }

      &-info {
        &-title {
          @include text-style(24);
        }

        &-description {
          margin-top: 8px;

          p {
            @include text-style(14);
          }

          p:last-child {
            @include text-style(13, $secondary);
          }
        }
      }

      &-image {
        width: 200px;
        height: 130px;
        margin: 0;

        img {
          width: 100%;
          height: 100px;
        }
      }
    }
  }

  @include responsive(D) {
    &-banner {
      height: 240px;

      &-info {
        &-description {
          margin-top: 8px;

          p {
            @include text-style(16);
          }

          p:last-child {
            @include text-style(14, $secondary);
          }
        }
      }

      &-image {
        width: 320px;
        height: 200px;

        img {
          width: 200px;
          height: auto;
        }
      }
    }
  }
}
