@font-face {
  font-family: "coward";
  src: url("/coward/src/main/webapp/resources/assets/fonts/coward.eot");
  src: url("/coward/src/main/webapp/resources/assets/fonts/coward.eot#iefix")
      format("embedded-opentype"),
    url("/coward/src/main/webapp/resources/assets/fonts/coward.ttf")
      format("truetype"),
    url("/coward/src/main/webapp/resources/assets/fonts/coward.woff")
      format("woff"),
    url("/coward/src/main/webapp/resources/assets/fonts/coward.svg#coward")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
