@font-face {
  font-family: "coward";
  src: url("../../assets/fonts/coward.eot");
  src: url("../../assets/fonts/coward.eot#iefix") format("embedded-opentype"),
    url("../../assets/fonts/coward.ttf") format("truetype"),
    url("../../assets/fonts/coward.woff") format("woff"),
    url("../../assets/fonts/coward.svg#coward") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
