$ad-modal-height-sm: 450px;
$ad-modal-height-md: 480px;

.ad-modal {
  @include column-flexbox;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $ad-modal-height-sm;
  padding: 12px;
  border-radius: 10px 10px 0 0;
  background-color: $white;
  z-index: $ad-modal-level;

  transform: translate3d(0, $ad-modal-height-sm, 0);
  transition: transform 300ms ease-in-out;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  .ad-thumbnail {
    @include inline-flexbox;
    width: 100%;
    height: 380px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .buttons {
    @include flexbox(between);
    width: 100%;
    margin-top: 10px;

    .today-skip-button,
    .close-button {
      @include text-style(14, $primary);
      @include flexbox;
      height: 100%;

      transition: all 0.15s ease-in-out;

      &:active {
        color: $secondary;
      }
    }

    .today-skip-button {
      .check-icon {
        @include flexbox;

        margin-right: 8px;
        border: 1px solid $border;
        border-radius: 4px;
        padding: 2px;

        .ic-check {
          font-size: 10px;
        }
      }

      position: relative;
    }

    .close-button {
      padding-right: 10px;
    }
  }

  @include responsive(T) {
    display: none;
    overflow: hidden;

    border-radius: 10px;
    height: $ad-modal-height-md;

    &.is-active {
      @include pos-center;
      display: block;
      width: auto;
      padding: 0;

      .ad-thumbnail {
        width: 100%;
        height: 430px;

        img {
          border-radius: 0;
        }
      }

      .buttons {
        .today-skip-button,
        .close-button {
          @include text-style(14);
          flex-basis: 50%;
          transition: all 0.15s ease-in-out;

          &:hover {
            color: $secondary;
          }
        }

        .today-skip-button {
          position: relative;

          &::after {
            @include pos-center-y;
            content: "";
            width: 1px;
            height: 28px;
            right: 0;
            background-color: $border;
          }
        }

        .close-button {
          padding: 0;
        }
      }
    }
  }
}
