// .banner-top / .banner-middel / .banner-bottom

.banner {
  &-top {
    @include flexbox;
    width: 100%;
    height: 260px;
    margin-bottom: 24px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-wrapper {
      @include flexbox;
      flex-direction: column-reverse;

      .banner-info {
        @include column-flexbox;

        .main-title {
          @include text-style(16);
          text-align: center;
          margin-bottom: 16px;
        }
      }

      .banner-image {
        @include flexbox;
        width: auto;
        height: 120px;
        margin-bottom: 16px;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &-bottom {
    a {
      @include column-flexbox;
      width: 100%;
      height: 160px;
      background-color: #222121;
      margin-top: 20px;
    }

    &-image {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .ad-slogan {
      @include text-style(16, $white);
      margin-top: 16px;

      .text-emphasis {
        color: $yellow;
      }
    }
  }

  @include responsive(T) {
    &-top {
      &-wrapper {
        @include flexbox(between);
        flex-direction: row;

        .banner-info {
          align-items: start;

          .main-title {
            @include text-style(18);
            margin-bottom: 4px;
          }

          .sub-title {
            @include text-style(16, $secondary);
            margin-bottom: 24px;
          }
        }

        .banner-image {
          height: 170px;
          margin: 0;
        }
      }
    }
  }

  @include responsive(D) {
    &-top {
      &-wrapper {
        .banner-image {
          @include flexbox;
          width: 360px;
          height: 220px;

          padding-right: 60px;
        }
      }
    }
  }
}

.banner-middle {
  @include flexbox;
  height: 150px;
  margin-bottom: 24px;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: 90% 0;
  background-size: 240px;

  &-title {
    @include text-style-24;
    font-weight: bold;
    color: $white;
  }

  @include responsive(T) {
    @include flexbox(center, start);
    padding: 50px 80px;

    &-title {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
/* banner-top html code

<div class="banner-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="banner-top-wrapper">
              <div class="banner-info">
                <h3 class="main-title">
                  Coward를 사랑해주시는 <br class="sm-only" />
                  여러분들을 위한 이벤트!
                </h3>
                <p class="sub-title sm-hidden">
                  쿠폰, 참여 혜택 등 각종 기회를 놓치지 마세요!
                </p>
                <a href="#" class="banner-button btn-32 btn-primary"
                  >더 알아보기</a
                >
              </div>
              <div class="banner-image">
                <img
                  src="/coward/src/main/webapp/resources/assets/images/suprise-box.svg"
                  aria-hidden
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
*/

/* banner-top scss 페이지 별 색상 변경 코드
.banner {
  &-top {
    background-color: #ffefc5;

    &-wrapper {
      .banner-info {
        .banner-button {
          background-color: $yellow;

          &:hover {
            background-color: #fcd869;
          }
        }
      }
    }
  }
}
*/
