footer {
  height: $global-footer-height;
  background-color: $background;
  @include flexbox;
}

.footer {
  &-area {
    width: $lg-max-container;
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  &-logo-area {
    flex-basis: 30%;
    @include flexbox(start, center);
  }
  &-info-area {
    flex-basis: 50%;
    border-bottom: 1px solid $border;
    display: flex;
  }
  &-info-text {
    &:nth-of-type(1) {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
    &:last-child {
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
    }
  }
  &-empty-area {
    flex-basis: 35%;
  }
}

#footer-logo {
  height: 40px;
}

#address {
  margin-bottom: 10px;
  font-size: $font-size-14;
}
#copyright {
  margin-bottom: 30px;
  font-size: $font-size-14;
}

#service {
  &-center {
    flex-basis: 25%;
    a {
      font-size: $font-size-18;
    }
  }
  &-info {
    display: flex;
    flex-basis: 75%;
  }
  &-time {
    flex-basis: 50%;
    p {
      &:nth-child(1) {
        margin-bottom: 10px;
      }
      &:nth-child(2) {
        margin-bottom: 10px;
        font-size: $font-size-13;
        color: $secondary;
      }
    }
  }
}

#tel-number {
  flex-basis: 50%;
  p {
    &:nth-child(1) {
      margin-bottom: 10px;
    }
    &:nth-child(2) {
      font-size: $font-size-13;
      color: $secondary;
    }
  }
}

.footer-nav {
  &-bar {
    display: flex;
    flex-basis: 20%;
  }
  &-area {
    flex-basis: 30%;
    margin: auto;
    b {
      margin: 0 5px 0 5px;
    }
  }
  &-empty-area {
    flex-basis: 50%;
  }
}

.footer-link-area {
  flex-basis: 20%;
  @include flexbox(end, center);
  div {
    width: 30px;
    height: 30px;
    margin-left: 30px;
  }
}
