.header {
  &-wrapper {
    @include flexbox(between);
    position: relative;
    height: 50px;
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 60px;
    }

    .logo {
      position: static;
      transform: none;

      img {
        height: 24px;
      }
    }

    &-right {
      button {
        color: $primary;
      }

      [class^="header-button"]:not(:last-child) {
        padding-right: 13px;
      }
    }

    &-user-image {
      display: inline-block;
    }
  }
}
