.header {
  &-wrapper {
    @include flexbox(between);
    position: relative;
    height: 50px;

    .header-left {
      .header-button {
        padding: 25px 0;

        .ic-hamburger {
          font-size: 24px;
        }
      }
    }

    .header-right {
      display: flex;

      .ic-bell,
      .ic-message {
        font-size: 24px;
        color: $primary;
        margin-right: 10px;
      }
    }
  }

  .logo {
    @include pos-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 24px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 60px;
    }

    .logo {
      position: static;
      transform: none;

      img {
        height: 24px;
      }
    }

    &-right {
      button {
        @include text-style(14);
        color: $primary;
      }

      [class^="header-button"]:not(:last-child) {
        padding-right: 13px;
      }
    }

    &-user-image {
      display: inline-block;
    }
  }
}
