header {
  height: $gnb-height-md;
  @include flexbox;
}

.header-bar {
  width: $lg-max-container;
  height: $gnb-height-md;
  display: flex;
}

.logo-area {
  flex-basis: 20%;
  line-height: 70px;
}

.header-empty-area {
  flex-basis: 60%;
}

.login-area {
  flex-basis: 20%;
  line-height: 60px;
  text-align: end;
}
/* 로그인 안했을시 상태 css*/
.login-text {
  font-size: $font-size-18;
  margin-left: 5px;
}

.login-text:hover {
  color: $blue;
  font-weight: bold;
  transition: 0.2s;
}
/* 로그인 상태 css*/

nav {
  height: $lnb-height-md;
  @include flexbox;
  line-height: 60px;
  border-bottom: 1px solid $border;
}

.nav {
  &-bar {
    width: 1140px;
    height: 60px;
    display: flex;
  }
  &-area {
    flex-basis: 25%;
  }
  &-text {
    margin-right: 20px;
    font-size: 16px;
    &:hover {
      color: $blue;
      font-weight: bold;
      transition: 0.2s;
    }
  }
  &-empty-area {
    flex-basis: 30%;
  }
}

.search {
  &-area {
    flex-basis: 45%;
  }
  &-form {
    fieldset {
      padding: 0px;
      margin: 0;
      border: 2px solid $border;
      border-radius: 10px;
      height: 30px;
      display: flex;
      height: 35px;
      margin-top: 11px;
    }
  }
}

#query {
  flex-basis: 90%;
  padding: 10px;
  font-size: $font-size-16;
  border: none;
  outline: none;
  border-radius: 10px;
  text-indent: 16px;
}

#search-btn {
  flex-basis: 10%;
  cursor: pointer;
  font-size: 1.2em;
  color: $primary;
  background-color: $white;
  border: 0;
  border-radius: 10px;
}
