.menubar {
  $menubar-width: 260px;

  @include no-scrollbar;
  @include column-flexbox(between);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $menubar-level;
  width: $menubar-width;
  height: 100vh;
  padding: 30px;
  border-radius: 0 10px 10px 0;
  overflow-y: auto;
  background-color: $white;
  transform: translate3d(-#{$menubar-width}, 0, 0);
  transition: transform 300ms ease-in-out;
  overscroll-behavior: contain;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    width: 100%;

    .logo {
      @include flexbox(start);
      width: 100%;
      height: 40px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    // Note: 로그인을 한 경우 (프로필, 이름)
    .member-info {
      @include flexbox(start);
      margin-top: 40px;

      .avatar-32 {
        margin-right: 8px;
      }

      .username {
        @include text-style(14);
      }
    }

    // Note: 로그인을 하지 않은 경우 (로그인, 회원가입)
    .menubar-auth {
      @include flexbox(start);
      margin-top: 40px;

      a {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  &-nav {
    width: 100%;

    .menubar-list {
      border-top: 1px solid $border;
      margin-top: 24px;

      .menubar-item {
        @include text-style(14);
        width: 100%;
        height: 24px;
        margin-top: 16px;
      }
    }
  }

  &-footer {
    @include text-style(14);
    width: 100%;

    .logout-icon {
      width: 24px;
      height: 24px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
