.slider-wrapper {
  position: relative;
  height: 320px;
  // margin-bottom: 24px;
}

.contest-slider {
  height: 320px;
  &-card {
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: $card-shadow;
    position: relative;

    &-img {
      @include flexbox;
      height: 240px;
      overflow: hidden;

      img {
        display: block;

        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      @include pos-center-x;
      background-color: $white;
      height: 155px;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;

      transition: 600ms;
      bottom: -95px;

      &-title {
        font-weight: 600;
        margin-bottom: 7px;
        p {
          @include truncate;
        }
      }

      &-detail {
        margin-bottom: 7px;
        p {
          display: inline-block;

          &:nth-child(1) {
            color: $secondary;
            font-weight: 500;
            margin-right: 10px;
          }
        }
      }
      &-button {
        @include flexbox;
        height: 50px;
      }
    }
  }
}

.slider-controls {
  @include flexbox(between);
  @include pos-center;
  width: calc(100% + 40px);

  .control-button {
    @include inline-flexbox;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: $white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    color: $primary;
    border-radius: 50%;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

    &-is-prev {
      .ic-chevron {
        display: inline-block;
        // margin-right: 3px;
      }
    }

    &.is-next {
      .ic-chevron {
        display: inline-block;
        transform: rotate(-180deg);
        // margin-left: 3px;
      }
    }

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }
}
