<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">

	<resultMap type="chatRoom" id="chatroom_rm">
		<id property="chatRoomNo" column="CR_NO" />
		<result property="profileImg" column="PROFILE_IMG"/>
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNick" column="MEMBER_NICK" />
		<result property="crProduce" column="CR_PRODUCE"/>
	</resultMap>

	<resultMap type="chatMessage" id="chatMessage_rm">
		<id property="cmNo" column="CM_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="chatRoomNo" column="CHAT_ROOM_NO" />
		<result property="message" column="MESSAGE" />
		<result property="createDate" column="CM_TIME" />
		<result property="readOrNot" column="READ_OR_NOT" />


	</resultMap>


	<!-- 채팅방 목록 조회 -->
	<select id="selectChatRoomList" resultMap="chatroom_rm">
		SELECT CR_NO, MEMBER_NICK
		FROM CHAT_ROOM
		JOIN MEMBER USING(MEMBER_NO)
		ORDER BY CR_NO DESC
	</select>
	
		<!-- 채팅방 만들기 -->
	<insert id="openChatRoom" useGeneratedKeys="true">
	
		<selectKey keyProperty="chatRoomNo" resultType="_int" order="BEFORE">
			SELECT SEQ_CR_NO.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO CHAT_ROOM VALUES
		(#{chatRoomNo}, SYSDATE, #{memberNo})
	</insert>

<!-- 채팅방 참여하기 -->
	<insert id="joinChatRoom">
		INSERT INTO CHAT_ROOM_JOIN
		VALUES(#{memberNo}, #{chatRoomNo})
	</insert>
	
	
	<!-- 채팅 메세지 목록 조회 -->
	<select id="selectChatMessage" resultMap="chatMessage_rm">
		SELECT MESSAGE, CREATE_DT, MEMBER_NO, MEMBER_NICK
		FROM CHAT_MESSAGE
		JOIN MEMBER USING(MEMBER_NO)
		WHERE CR_NO = #{chatRoomNo}
		ORDER BY CM_NO
	</select>
	
	<!-- 채팅 메세지 삽입 -->
	<insert id="insertMessage">
		INSERT INTO CHAT_MESSAGE
		VALUES(SEQ_CM_NO.NEXTVAL, #{message}, DEFAULT, #{chatRoomNo}, #{memberNo})
	</insert>
	

	<!-- 채팅방 나가기 -->
	<delete id="exitChatRoom">
		DELETE FROM CHAT_ROOM_JOIN
		WHERE MEMBER_NO = #{memberNo}
		AND CR_NO = #{chatRoomNo}
	</delete>
	
</mapper>