<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">

	<resultMap type="chatRoom" id="chatroom_rm">
		<id property="chatRoomNo" column="CR_NO" />
		<result property="profileImg" column="PROFILE_IMG"/>
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNick" column="MEMBER_NICK" />
		<result property="crProduce" column="CR_PRODUCE"/>
	</resultMap>

	<resultMap type="chatMessage" id="chatMessage_rm">
		<id property="cmNo" column="CM_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="chatRoomNo" column="CHAT_ROOM_NO" />
		<result property="message" column="MESSAGE" />
		<result property="createDate" column="CM_TIME" />
		<result property="readOrNot" column="READ_OR_NOT" />


	</resultMap>

</mapper>