<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="contestAttendMapper">

	<resultMap type="contestAttend" id="contestAttend_rm">
		<id property="attendNo" 		column="ATTEND_NO"/>
		<result property="memberNo" 		column="MEMBER_NO"/>
		<result property="contestNo" 	column="CONTEST_NO"/>
		<result property="description" 	column="DESCRIPTION"/>
		<result property="githubAddress" 	column="GITHUB"/>
		<result property="pptFile"  column="PPT_FILE"/>
		<result property="skill"  column="SKILL"/>
	</resultMap>


	<insert id="contestAttend">
		INSERT INTO CONTEST_ATTEND (ATTEND_NO ,MEMBER_NO ,CONTEST_NO ,DESCRIPTION ,GITHUB ,PPT_FILE, SKILL)
		VALUES(SEQ_ATTEND_NO.NEXTVAL, #{memberNo} , #{contestNo} , #{description}, #{githubAddress} , #{pptFile}, #{skill})
	</insert>


</mapper>
