<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="contestMapper">


	<resultMap type="contest" id="contest_rm">
		<id property="contestNo" 		column="CONTEST_NO"/>
		<result property="contestNo" 		column="MEMBER_NO"/>
		<result property="contestTitle" 	column="CONTEST_TITLE"/>
		<result property="companyNick" 	column="COMPANY_NICK"/>
		<result property="companyProfile"  column="COMPANY_PROFILE"/>
		<result property="typeNo" 		column="TYPE_NO"/>
		<result property="subject" 	column="SUBJECT"/>
		<result property="qualification" 	column="QUALIFICATION"/>
		<result property="addInfo" 		column="ADD_INFOMATION"/>
		<result property="createDate" 	column="CREATE_DATE"/>
		<result property="endDate" 	column="END_DATE"/>
		<result property="dueDate" 	column="DUE_DATE"/>
		<result property="skill"    column="SKILL"/>
		<result property="price" 	column="PRICE"/>
		<result property="thumbnail" 	column="THUMBNAIL"/>
		<result property="adNo" 	column="AD_NO"/>
		<result property="adType" 	column="AD_TYPE"/>
		<result property="winner" 	column="WINNER"/>
		<!-- Note: 기획 정리 되면 사용 여부 결정 -->
		<result property="conStatus" 	column="CON_STATUS"/>
		<result property="bookmarkCount" column="BOOKMARK_COUNT"/>
	</resultMap>
	

	<!-- Note: 진행중인 공모전 - 기본 -->
	<select id="getDefaultContestList" resultMap="contest_rm">
		SELECT CONTEST_NO, CONTEST_TITLE, TRUNC(END_DATE - CREATE_DATE) AS DUE_DATE, PRICE, THUMBNAIL
		FROM CONTEST
		WHERE CON_STATUS = '모집중'
		AND TRUNC(END_DATE - CREATE_DATE) > 0
		OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY

	</select>
	
	<!-- Note: 진행중인 공모전 - 신규 -->
	<select id="getNewContestList" resultMap="contest_rm">
		SELECT CONTEST_NO, CONTEST_TITLE, PRICE, THUMBNAIL, CREATE_DATE
		FROM CONTEST
		WHERE CON_STATUS = '모집중'
		ORDER BY CREATE_DATE DESC
		OFFSET 0 ROWS FETCH NEXT 11 ROWS ONLY

	</select>
	
	<!-- Note: 진행중인 공모전 - 인기 -->
	<select id="getPopularContestList" resultMap="contest_rm">
		
	</select>
  
	<!-- 공모전 개최 -->
	<insert id="contestCreate">
		<selectKey keyProperty="contestNo" resultType="_int" order="BEFORE">
			SELECT SEQ_CONTEST_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CONTEST (CONTEST_NO,MEMBER_NO,CONTEST_TITLE,TYPE_NO,SUBJECT,QUALIFICATION,ADD_INFOMATION,CREATE_DATE,END_DATE,SKILL,PRICE,THUMBNAIL,AD_NO)
		VALUES( #{contestNo}, #{memberNo} ,#{contestTitle}, #{typeNo}, #{subject}, #{qualification}, #{addInfo}, SYSDATE, #{endDate}, #{skill}, #{price}, #{thumbnail} , #{adNo})
	</insert>

	<!-- 공모전 상세조회  -->
	<select id="contestDetail" parameterType="_int" resultMap="contest_rm">
		SELECT CONTEST_NO, CONTEST_TITLE, m.MEMBER_NICK AS COMPANY_NICK ,m.PROFILE_IMG AS COMPANY_PROFILE ,
		TYPE_NO, SUBJECT ,QUALIFICATION ,ADD_INFOMATION ,CREATE_DATE, END_DATE, TRUNC(END_DATE - CREATE_DATE) AS DUE_DATE,
		c.SKILL, PRICE, THUMBNAIL, c.AD_NO, ad.AD_TYPE AS AD_TYPE, CON_STATUS,
		(SELECT COUNT(*)
		FROM LIKE_CON lc 
		WHERE CONTEST_NO = ${contestNo}) AS BOOKMARK_COUNT
		FROM CONTEST c, MEMBER m , AD ad
		WHERE c.MEMBER_NO = m.MEMBER_NO
		AND c.AD_NO  = ad.AD_NO 
		AND CONTEST_NO = ${contestNo}
	</select>


</mapper>
