<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">


	<resultMap type="region" id="region_rm">

		<id property="memberNo" column="MEMBER_NO" />
		<result property="regionNo" column="REGION_NO" />
		<result property="regionName" column="REGION_NAME" />

	</resultMap>



	<!-- 회원 정보 수정 -->
	<update id="updateInfo">
		UPDATE MEMBER SET
		MEMBER_NICK = #{updateNickname},
		STACK = #{stack},
		SLOGAN = #{slogan},
		INTRODUCE = #{introduce},
		SKILL =
		#{skill}
		WHERE MEMBER_NO = ${memberNo}
	</update>

	<!-- 프로필 이미지 수정 -->
	<update id="updateProfile">
		UPDATE MEMBER SET
		PROFILE_IMG = #{profileImage}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>



	<!-- ***************기업 마이페이지 맵퍼******************** -->

	<!-- 기업 회원 프로필 수정 -->
	<update id="updateCompanyInfo">
		UPDATE MEMBER SET
		MEMBER_NICK =
		#{memberNick},
		INTRODUCE = #{introduce}
		WHERE MEMBER_NO = ${memberNo}
	</update>

	<!-- 기업 회원 지역 정보 불러오기 -->
	
	<!-- 
	
	<select id="allRegions" resultMap="member_rm">
		SELECT REGION_NO, REGION_NAME
		FROM REGION;
	</select>
	 -->
	


</mapper>