<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">


	<!-- 회원 정보 수정 -->
	<update id="updateInfo">
		UPDATE MEMBER SET
		MEMBER_NICK = #{updateNickname},
		STACK = #{stack},
		SLOGAN = #{slogan},
		INTRODUCE = #{introduce},
		SKILL =
		#{skill}
		WHERE MEMBER_NO = ${memberNo}
	</update>

	<!-- 프로필 이미지 수정 -->
	<update id="updateProfile">
		UPDATE MEMBER SET
		PROFILE_IMG = #{profileImage}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>

	<!-- 마이페이지 - 공모전 관리 -->
	<select id="contestList">
		SELECT ca.MEMBER_NO, CONTEST_TITLE, CREATE_DATE,
		END_DATE , MEMBER_NICK, PROFILE_IMG
		FROM CONTEST_ATTEND ca , CONTEST c
		, "MEMBER" m
		WHERE ca.CONTEST_NO = c.CONTEST_NO
		AND c.MEMBER_NO = m.MEMBER_NO
		AND ca.MEMBER_NO = ${memberNo};
	</select>



	<!-- ***************기업 마이페이지 맵퍼******************** -->

	<!-- 기업 회원정보 수정 -->
	<update id="updateCompanyInfo">
		UPDATE MEMBER SET
		PROFILE_IMG = #{profileImg},
		MEMBER_NICK =#{memberNick},
		INTRODUCE = #{introduce},
		REGION_NO = #{regionNo}
		WHERE MEMBER_NO =
		${memberNo}
	</update>


</mapper>