i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "coward" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-chevron:before {
  content: "\e900";
}
.ic-bookmark:before {
  content: "\e901";
}
.ic-bookmark-filled:before {
  content: "\e902";
}
.ic-camera:before {
  content: "\e903";
}
.ic-cancle:before {
  content: "\e904";
}
.ic-check:before {
  content: "\e905";
}
.ic-check-cercle:before {
  content: "\e906";
}
.ic-hamburger:before {
  content: "\e907";
}
.ic-like:before {
  content: "\e908";
}
.ic-like-filled:before {
  content: "\e909";
}
.ic-password:before {
  content: "\e90a";
}
.ic-search:before {
  content: "\e90b";
}
