i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "coward" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-bell:before {
  content: "\e900";
}
.ic-bookmark-filled:before {
  content: "\e901";
}
.ic-bookmark:before {
  content: "\e902";
}
.ic-camera:before {
  content: "\e903";
}
.ic-check-circle-filled .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.ic-check-circle-filled .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-check-circle:before {
  content: "\e906";
}
.ic-check-small:before {
  content: "\e907";
}
.ic-check:before {
  content: "\e908";
}
.ic-chevron-small:before {
  content: "\e909";
}
.ic-chevron:before {
  content: "\e90a";
}
.ic-cross-small:before {
  content: "\e90b";
}
.ic-cross:before {
  content: "\e90c";
}
.ic-eye-close:before {
  content: "\e90d";
}
.ic-eye-open:before {
  content: "\e90e";
}
.ic-filters:before {
  content: "\e90f";
}
.ic-hamburger:before {
  content: "\e910";
}
.ic-like-filled:before {
  content: "\e911";
}
.ic-like:before {
  content: "\e912";
}
.ic-link-filled:before {
  content: "\e913";
}
.ic-link:before {
  content: "\e914";
}
.ic-logout:before {
  content: "\e915";
}
.ic-message:before {
  content: "\e916";
}
.ic-question-circle:before {
  content: "\e917";
}
.ic-search:before {
  content: "\e918";
}
.ic-trophy:before {
  content: "\e919";
}
