%tag-base {
  @include inline-flexbox;
  @include text-style(12);
  height: 20px;
  padding: 0 8px;
  font-weight: 700;
  border-radius: 4px;
}

.tag-blue {
  @extend %tag-base;
  color: $white;
  background-color: $blue;
}

.tag-yellow {
  @extend %tag-base;
  color: $white;
  background-color: $yellow;
}

.tag-gray {
  @extend %tag-base;
  color: $secondary;
  background-color: $border;
}

.tag-pink {
  @extend %tag-base;
  color: #f86d7d;
  background-color: #ffeffb;
}

.tag-purple {
  @extend %tag-base;
  color: #985cd3;
  background-color: #eae2ff;
}
