@mixin no-scrollbar() {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

@mixin scrollbar() {
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 30px;
  }
}
