$black: #000;
$primary: #3f4150;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
$background: #f8f8f8;
$white: #fff;

$blue: #3aacf8;
$blue-dark: #028ae2;
$blue-light: #abdeff;

$yellow: #ffc200;
$yellow-light: #ffe9a4;

$red: #ffc1c9;
$red-light: #ffe0c7;
