// TODO: coward에 맞게 수정 필요
// Note : nav-bar 등 사이즈 정의
$gnb-height-sm: 50px;
$gnb-height-md: 60px;

$lnb-height-sm: 50px;
$lnb-height-md: 60px;

$product-tab-height-sm: 40px;
$product-tab-height-md: 54px;

$order-cta-height: 56px;
$global-footer-height: 350px;
